section(title="Identification")
  question(text="Name of Claimant:")
    TextBox(name="Q1_FIRST" placeholder="First")
    TextBox(name="Q1_LAST" placeholder="Last")
  question(text="Date of Birth:")
    TextBox(name="Q1_BIRTHDATE" placeholder="dd/mm/yyyy")
  question(text="Sex:")
    RadioSet(name="gender")
        Value Male
        Value Female
  question(text="Case No:")
    TextBox(name="Q1_CASENUM")
  question(text="RQID: ")
    TextBox(name="Q1_RQID")
  question(text="Adjudicator:")
    TextBox(name="Q1_ADJUDICATOR")
  question(text="Date and Time of Exam: (dd/mm/yyyy)")
    TextBox(name="Q1_EXAMDATE" placeholder="dd/mm/yyyy")
  question(text="Location:")
    TextBox(name="Q1_EXAMLOC")
  question(text="Examination type:")
    RadioSet(name="Q3")
      Value(enables-selector=".enable-child") Child Psychological Diagnostic Evaluation (turn on different questions to be determined) 
      Value(enables-selector=".enable-complex") Complex Psychological Evaluation
      Value(enables-selector=".enable-psych-only") Psychological Diagnostic Evaluation
      Value(enables-selector=".enable-psych-mem") Psychological Diagnostic Evaluation with Memory Assessment
      Value(enables-selector=".enable-psych-intel") Psychological Diagnostic Evaluation with Intelligence Assessment


  question(name="Q5" text="The claimant's ethnicity/race is:")
    CheckboxSet
      Value American Indian
      Value African American
      Value Asian American
      Value Caucasian American
      Value Hispanic American
      Value Native Hawaiian
      Value Pacific Islander
      ValueOther Other
  question(name="Q6" text="What is the claimant’s birthplace?")
    TextBox


section#General-Observations
  section_text General Observations
  question(name="Q8" text="The claimant arrived to the examination:")
    RadioSet
      Value Early
      Value On time
      Value Late
  question(name="Q8A" text="The claimant was:")
    RadioSet
      Value Unaccompanied
      ValueOther.prepend Accompanied by
  question(name="q9" text="How did the claimant get to the examination?")
    RadioSet
      Value(value="personal vehicle") Drove
      Value(value="transportation arranged by DSHS") DSHS arranged transportation
      Value Taxi
      Value Public transportation
      ValueOther.prepend Driven by
  question(name="Q11" text="Is the claimant considered a reliable historian?")
    RadioSet
      Value(value="is considered") Yes
      Value(value="is not considered" enables-selector=".11_no") No
  question.11_no(name="Q11A" text="Who is the reliable historian for this interview?")
    TextBox


section#Chief-Complaint
  section_text Chief Complaint
  question(name="Q13" text="What is the claimant’s chief complaint? Select all that apply.")
    CheckboxSet
      Value(enables-selector="#Q16A") Alzheimer’s Disease
      Value(enables-selector="#Q16B") Anorexia
      Value(enables-selector="#Q16C") Anxiety
      Value(enables-selector="#Q16D") Attention Disorder
      Value(enables-selector="#Q16E") Autism Disorders
      Value(enables-selector="#Q16F") Bipolar Disorder
      Value(enables-selector="#Q16G") Cognitive Disorder NOS
      Value(enables-selector="#Q16H") Depression
      Value(enables-selector="#Q16I") Dysthymic Disorder
      Value(enables-selector="#Q16J") Learning Disability
      Value(enables-selector="#Q16K") Mental Retardation
      Value(enables-selector="#Q16L") Obsessive Compulsive Disorder
      Value(enables-selector="#Q16M") Panic Disorder
      Value(enables-selector="#Q16N") Personality Disorder
      Value(enables-selector="#Q16O") Postconcussion Syndrome
      Value(enables-selector="#Q16P") Posttraumatic Stress Disorder
      Value(enables-selector="#Q16Q") Schizoaffective Disorder
      ValueOther Other


section#Review-of-Records
  section_text Review of Records
  question(name="QA14" text="Has the claimant been previously diagnosed?")
    RadioSet
      Value(enables-selector=".14_yes") Yes
      / (enable 14, 14a)
      Value(enables-selector=".14_no") No
      / (disable 14, 14a)
  question.14_yes(name="Q14" text="When was the claimant first diagnosed? (Month Year)")
    TextBox
  question.14_yes(name="Q14A" text="Who diagnosed the claimant?")
    TextBox
    question(name="Q14B" text="List any additional diagnoses previously made:")
      table
        tr
          th Clinician
          th Date
          th Diagnosis
        tr.table-row-model
          td
            TextBox(name="CLINICIAN")
          td
            TextBox(name="DATE")
          td
            TextBox(name="DIAGNOSIS")
        tr
          td(colspan=3 text-align="right")
            a.table-new-row New Row ...

  question(name="Q15" text="Were there any special circumstances surrounding the onset of this impairment or condition?")
    RadioSet
      Value(enables-selector=".15_yes") Yes
      Value No
  question.15_yes(name="Q15A" text="Please describe:")
    TextBox



section#History-of-Present-Illness
  section_text History of Present Illness
  question(name="Q16" text="What are the claimant’s current symptoms? Select all that apply.")
    = render partial: 'Q16-illness'
    question(name="Q16A" text="Please provide any additional symptoms:")
      TextBox


question(name="Q17" text="Describe in detail the effect of each impairment on the claimant’s daily functioning. Please focus on relationships and work ability.")
  TextBox
question(name="QA18" text="Please provide the date the claimant stopped working due to the inability to perform work duties:")
  TextBox
question(name="QA18A" text="Please provide any information regarding attempts to return to the workplace:")
  TextBox
question(name="Q19" text="Is the claimant currently in psychotherapy?")
  RadioSet
    Value(enables-selector=".19_yes" value="is") Yes
    /enable 19a, 20, and 20a. disable 179
    Value(enables-selector=".19_no" value="is not") No
    /enable 179. disable 19a, 20, 20a.
question.19_no(name="Q179" text="Is the claimant willing to consider psychotherapy?")
  RadioSet
    Value(value="is willing to consider psychotherapy") Yes
    Value(enables-selector=".20_no" value="is not willing to consider psychotherapy") No
question.19_yes(name="Q19A" text="With whom is the claimant currently in psychotherapy?")
  CheckboxSet
    Value(value=" with a counselor") A counselor
    Value(value=" with a psychologist") A psychologist
    Value(value=" with a therapist") A therapist
question.19_yes(name="Q20" text="Does the claimant find psychotherapy helpful?")
  RadioSet
    Value(value="has been") Yes
    Value(enables-selector=".20_no" value="has not been") No
question.20_no(name="Q20A" text="Please explain the claimant's opinion of psychotherapy:")
  TextBox

section#Current-Medications
  section_text Current Medications
  question(name="Q21" text="Is the claimant taking any medications?")
    RadioSet
      Value(enables-selector=".21_yes" value="is") Yes
      /enable 21a, 22, and 22table
      Value(value="is not") No
  group.21_yes
    question(name="Q177" text="Who is writing the prescriptions?")
      CheckboxSet
        Value A psychiatristf
        Value A PCP
        Value A nurse practitioner
    question(name="Q21A" text="Did the claimant take any medication today?")
      RadioSet
        Value(value="did take") Yes
        Value(value="did not take") No
    question(name="Q22" text="Which medications is the claimant taking?")
      table
        tr
          th Medication
          th Dosage
          th Effectiveness
        tr.table-row-model
          td
            Autocomplete(name="MEDICATION" values="meds")
          td
            TextBox(name="DOSAGE")
          td
            RadioSet(name="EFFECTIVENESS")
              Value Good
              Value Minimal
              Value Poor
        tr
          td(colspan=3 text-align="right")
            a.table-new-row New Row ...

section#Past-Psychiatric-History
  section_text Past Psychiatric History
  question(name="Q29" text="Has the claimant ever been admitted to a psychiatric hospital?")
    RadioSet
      Value(enables-selector=".29_yes" value="has") Yes
      / (enable 30,31,31a, and 31b)
      Value(enables-selector=".29_no" value="has never") No
      / (disable the rest of this section)
  group.29_yes
    question(name="Q30" text="What was the date of the last admittance? (Month Year)")
      TextBox
    question(name="Q31" text="What was the reason for the admittance?")
      TextBox
    question(name="Q31A" text="What treatment did the claimant receive while admitted?")
      TextBox
    question(name="Q31B" text="What was the claimant’s response to the treatment?")
      TextBox

section#Alcohol-and-Drug-Abuse
  section_text Alcohol and Drug Abuse
  question(name="QA32" text="Has the claimant ever abused alcohol, tobacco, or illicit substances?")
    RadioSet
      Value(enables-selector=".A32_yes" value="has abused") Yes
      / (enable A33-A36a, A189)
      Value(enables-selector=".A32_no" value="has not abused") No
      / (disable the rest of this section)
  group.A32_yes
    question(name="QA33" text="If yes, what are the substances? Select all that apply.")
      CheckboxSet
        Value Alcohol
        Value Marijuana
        Value Cocaine
        Value Heroin
        Value Methamphetamines
        Value Tobacco
        ValueOther Other
    question(name="QA34" text="On what date did claimant first use the substance? (Month Year)")
      TextBox
    question(name="QA34A" text="On what date did the claimant begin to use the substance abusively? (Month Year)")
      TextBox
    question(name="QA35" text=" What is the number of days that the claimant used the substance? (include unit of day, month, or year)")
      TextBox
    question(name="QA35A" text="During the claimant’s worst abusive period, how much of the substance was consumed per day?")
      TextBox
    question(name="QA36" text="Is the substance abuse still occurring?")
      RadioSet
        Value(value="is currently") Yes
        Value(enables-selector=".36_no" value="is no longer") No
        /enables a36a.
    question.36_no(name="QA36A" text="If not, how long has the claimant been ‘clean?’")
      TextBox
    question(name="QA189" text="Did the claimant appear to be under the influence of drugs or alcohol?")
      RadioSet
        Value(value="did appear") Yes
        Value(value="did not appear") No
    question(name="QA189B" text="List any substances abused by the claimant:")
      table
        tr
          th Substance
          th Start Date
          th End Date
          th Amount
          th Frequency
        tr.table-row-model
          td: TextBox(name="SUBSTANCE")
          td: TextBox(name="START" placeholder="mm/dd/yyyy")
          td: TextBox(name="END" placeholder="mm/dd/yyyy")
          td: TextBox(name="AMOUNT")
          td: TextBox(name="FREQUENCY")
        tr
          td(colspan=5 text-align="right")
            a.table-new-row New Row ...

section#Past-Medical-History
  section_text Past Medical History
  question(name="Q23" text="Has the claimant ever sustained a major head injury?")
    RadioSet
      Value(value="has sustained" enables-selector=".23_yes") Yes
      / (enable 24, 25, 26, 26a)
      Value(value="has not sustained") No
  group.23_yes
    question(name="Q24" text="Did the claimant experience a lack of consciousness, feel dazed, or see stars?")
      RadioSet
        Value(value="did experience") Yes
        Value(value="did not experience") No
    question(name="Q25" text="What is the date of the injury? (Month Year)")
      TextBox
    question(name="Q26" text="Was the claimant treated at a hospital?")
      RadioSet
        Value(value="was treated" enables-selector=".26_yes") Yes
        Value(value="was not treated") No
    question.26_yes(name="Q26A" text="What is the name of the hospital where the claimant received treatment?")
      TextBox

  question(name="Q27" text="List any previous surgeries. If none, enter “None reported.”")
    TextBox
  question(name="Q28" text="List any medical conditions:")
    text Select any of the following common medical conditions or write-in another option.
    CheckboxSet
      Value Allergies
      Value Arthritis
      Value Asthma
      Value Back Pain
      Value Cancer
      Value Chest Pains
      Value Chronic Pain
      Value Degenerative Disc Disease
      Value Diabetes
      Value Digestive Problems
      Value Fibromyalgia
      Value Headaches
      Value Heart Disease
      Value Hepatitis
      Value High Blood Pressure
      Value Joint Problems
      Value Lung Disease
      Value Muscle Problems
      Value Thyroid Disease
      Value Urinary Tract Problems
      ValueOther Other
      Value None Reported

section#Social-and-Family-History
  section_text Social and Family History
  question(name="QA37" text="The claimant's current relationship status:")
    CheckboxSet
      Value(value="single") Single, not in a committed relationship
      Value(enables-selector=".37_committed") In a committed relationship
      / (show A38)
      Value(enables-selector=".37_committed") Married
      / (show A38)
      Value Divorced
      Value Getting a divorce
      ValueOther Other
  question.37_committed(name="QA38" text="If applicable, how is the relationship?")
    RadioSet
      Value Good
      Value Fair
      Value Poor
  question(name="QA39" text="Does the claimant have children?")
    RadioSet
      Value(enables-selector=".39_yes" value="does have") Yes
      / (enable A39A, A40)
      Value(value="does not have") No
  question.39_yes(name="QA39A" text="How many children?")
    TextBox 
  question.39_yes(name="QA40" text="What age(s)?")
    TextBox
  question(name="QA41A" text="Does the claimant have deceased children?")
    RadioSet
      Value(enables-selector=".41_yes") Yes
      Value No
  question.41_yes(name="QA41" text="Please provide details:")
    TextBox
  question(name="Q42" text="The claimant's current living situation:")
    RadioSet
      Value(value="an apartment") Apartment
      Value(value="a house") House
      Value(value="a trailer") Trailer
      Value Public housing
      Value(value="and is homeless") Homeless
  question(name="Q42A" text="Does the claimant live alone?")
    RadioSet
      Value Lives alone
      ValueOther.prepend Lives with
  question(name="Q42B" text="In what city does the claimant currently reside? Include state abbreviation.")
    TextBox
  question(name="Q43" text="Does the family have a history of mental illness?")
    RadioSet
      Value(enables-selector=".43_yes" value="has") Yes
      Value(value="does not have") No
  question.43_yes(name="Q43A" text="Please describe:")
    TextBox
  question(name="Q45" text="Was the claimant abused as a child?")
    RadioSet
      Value(enables-selector=".45_yes"value="is") Yes
      / (enable 46 and 47)
      Value(value="is no") No
  group.45_yes
    question(name="Q46" text="Describe the nature of the abuse")
      TextBox
    question(name="Q47" text="Is the trauma resolved?")
      RadioSet
        Value(value="The trauma has been resolved.") Yes
        Value(value="The trauma has not been resolved.") No

section#Employment-History
  section_text Employment History
  question(name="QA52" text="Is the claimant currently employed?")
    RadioSet
      Value(enables-selector=".52_yes" value="is currently") Yes
      / (enable A55, and A186)
      Value(enables-selector=".52_no" value="is not currently") No
      / (enable A53, A55, and A184, A186)
      Value(enables-selector=".52_never") The claimant has no employment history
      / (enable A53 and A184)
  group.52_no
    question(name="QA53" text="Is the claimant currently looking for work?")
      RadioSet
        Value(value="is") Yes
        Value(value="is not") No
    question(name="QA184" text="How you would describe the claimant’s attitude regarding seeking employment?")
      RadioSet
        Value Positive
        Value Negative

  group.52_yes.52_no
    question(name="QA55" text="Please list all the jobs the claimant has had:")
      table
        tr
          th Start Date
          th End Date
          th Employer
          th Position
          th Reason for Leaving
        tr.table-row-model
          td: TextBox(name="START" placeholder="mm/dd/yyyy")
          td: TextBox(name="END" placeholder="mm/dd/yyyy")
          td: TextBox(name="EMPLOYER")
          td: TextBox(name="POSITION")
          td: TextBox(name="REASON")
        tr
          td(colspan=5 text-align="right")
            a.table-new-row New Row ...

    question(name="QA186" text="What is the claimant’s work history?")
      RadioSet
        Value Good
        Value Limited
        Value(value="nonexistent") No reported work history
    question(name="QA186A" text="Has the claimant had periods of unemployment?")
      RadioSet
        Value(enables-selector=".186_yes" value="has") Yes
        / (enable a56)
        Value No
    question.186_yes(name="QA56" text="What are the reasons for the periods of unemployment?")
      TextBox

section#Educational-History
  section_text Educational History
  question(name="Q48" text="What was the last education level completed?")
    TextBox
  question(name="Q49" text="The claimant's academic performance:")
    RadioSet
      Value Above average
      Value Average
      Value Below average
  question(name="Q49A" text="Please provide any additional relevant information about claimant’s academic performance:")
    TextBox

  question(name="Q49B" text="Was the claimant involved in any school related activities?")
    RadioSet
      Value(enables-selector=".49_yes" value="was") Yes
      / (enable 49C)
      Value(value="was not") No
  question.49_yes(name="Q49C" text="Please describe:")
    TextBox

  question(name="Q50" text="Was the claimant enrolled in special education?")
    RadioSet
      Value(enables-selector=".50_yes" value="was") Yes
      / (enable 51)
      Value(value="was not") No
  question.50_yes(name="Q51" text="If yes, what were the subjects?")
    CheckboxSet
      Value English
      Value Social Studies
      Value Math
      Value Science
      ValueOther Other


section#Legal-Criminal-History
  section_text Legal / Criminal History
  question(name="QA57" text="Has the claimant ever been arrested?")
    RadioSet
      Value(enables-selector=".A57_yes" value="was arrested") Yes
      / (enable A57b-A60b)
      Value(value="has never been arrested.") No
      / (disable the rest of this section)
  group.A57_yes
    question(name="QA57B" text="Has the claimant been arrested multiple times?")
      RadioSet
        Value(value="has") Yes
        Value(value="has not") No
    question(name="QA57A" text="What was the most recent arrest for?")
      TextBox
    question(name="QA58" text="What was the release date from the most recent incarceration? (Month Year)")
      TextBox
    question(name="QA59" text="What was the outcome of the most recent arrest?")
      TextBox
    question(name="QA60" text="Has the claimant ever been incarcerated?")
      RadioSet
        Value(enables-selector=".A60_yes" value="was") Yes
        Value No
    question.A60_yes(name="QA60A" text="How long was the incarceration?")
      TextBox
    question.A60_yes(name="QA60B" text="What was the date of the most recent incarceration? (Month Year)")
      TextBox


section#Military-History
  section_text Military History
  question(name="QA61" text="Has the claimant served in the military?")
    RadioSet
      Value(enables-selector=".A61_yes" value="has served") Yes
      / (enable A62-A64)
      Value(value="has not served") No
      / (disable the rest of this section)
  group.A61_yes
    question(name="QA62" text="What is the date of entry?")
      TextBox
    question(name="QA62A" text="What is the date of release?")
      TextBox
    question(name="QA63" text="What was the claimant’s highest rank?")
      TextBox
    question(name="QA63A" text="Did the claimant receive any medals and/or ribbons?")
      RadioSet
        Value(value="did") Yes
        Value(value="did not") No
    question(name="QA63B" text="Was any disciplinary action (Article 15, Captain’s Mast) taken?")
      RadioSet
        Value(value="had to be taken") Yes
        Value(value="was not necessary") No
    question(name="QA63C" text="Was the claimant honorably discharged?")
      RadioSet
        Value(value="was honorably discharged") Yes
        Value(value="was dishonorably discharged") No
    question(name="QA64" text="Was the claimant deployed?")
      RadioSet
        Value(value="was") Yes
        Value(value="was not") No
section#Mental-Status-Examination
  section_text Mental Status Examination - General Appearance
  question(name="Q65" text="In relation to stated age, the claimant appeared...")
    RadioSet
      Value(value="older than") Older
      Value(value="the same age as") The same age
      Value(value="younger than") Younger
  question(name="Q66" text="The claimant's hygiene is:")
    RadioSet
      Value Good
      Value Fair
      Value Poor
  question(name="Q66A" text="The claimant is:")
    RadioSet
      Value Well-groomed
      Value Unkempt
  question(name="Q67" text="In relation to height, the claimant's build is:")
    RadioSet
      Value Obese
      Value Overweight
      Value Average
      Value Slender
      Value Underweight
      ValueOther Other
  question(name="Q68" text="The claimant's eye contact is:")
    RadioSet
      Value Good
      Value Fair
      Value Poor
      Value Avoidant
  question(name="Q69" text="With respect to the material’s content, the claimant’s facial expressions are:")
    RadioSet
      Value Appropriate
      Value Inappropriate
      Value Nonexistent
  question(name="Q70" text="Were the claimant’s clothes presentable?")
    RadioSet
      Value(value="presentably") Yes
      Value(value="not presentably") No
  question(name="Q71" text="Describe the claimant's clothing:")
    TextBox
  question(name="Q72" text="Was the clothing appropriate for the weather?")
    RadioSet
      Value(value="was appropriate") Yes
      Value(value="was inappropriate") No
  question(name="Q73" text="Was evidence of psychomotor agitation present?")
    RadioSet
      Value(enables-selector=".73_yes" value="There was evidence of psychomotor agitation, as seen when ") Yes
      / (enable 73a)
      Value(value=" There was no evidence of psychomotor agitation") No
      / (disable 73a)
  question.73_yes(name="Q73A" text="If yes, please provide examples:")
    TextBox
  question(name="Q73B" text="Was evidence of psychomotor retardation present?")
    RadioSet
      Value(enables-selector=".73B_yes" value=" Psychomotor retardation was present and evidenced by: ") Yes
      / (enable 73c)
      Value(value=" There was no evidence of psychomotor retardation") No
      / (disable 73c)
  question.73B_yes(name="Q73C" text="If yes, please provide examples:")
    TextBox

  section_text Mental Status Exam - Attitude and Behavior
  question(name="Q10" text="The claimant's attitude during the interview: (Select all that apply)")
    CheckboxSet
      Value Cooperative
      Value Hostile
      Value Open
      Value Evasive
      Value Suspicious
      Value Easily Distracted
      Value Defensive
      Value Focused
      Value Difficult
      Value Belligerent
  question(name="Q74" text=" Was the claimant’s behavior pleasant?")
    RadioSet
      Value(value="pleasant") Yes
      Value(value="unpleasant") No
  question(name="Q76" text="Describe the claimant’s attitude:")
    RadioSet
      Value Positive
      Value Negative
  question(name="Q77" text="Was there evidence of malingering or factitious behavior?")
    RadioSet
      Value(enables-selector=".77_yes" value="was") Yes
      / (enable 77a)
      Value(value="was no") No
      / (disable 77a)
  question.77_yes(name="Q77A" text="Please describe behavior:")
    TextBox

  section_text Mental Status Exam - Mood and Affect
  question(name="Q190" text="The claimant's level of consciousness during the interview: (Select all that apply)")
    CheckboxSet
      Value(value="a vigilant") Vigilant
      Value(value="an alert") Alert
      Value(value="a drowsy") Drowsy
      Value(value="a lethargic") Lethargic
      Value(value="a stuporous") Stuporous
      Value(value="a confused") Confused
      Value(value="a fluctuating") Fluctuating
  question(name="Q88" text="What is the claimant's current mood?")
    Radioset
      Value(value="euthymic") Euthymic
      Value(value="dysphoric") Dysphoric 
      Value(value="flat") Flat
  question(name="Q89" text="Was the claimant’s affect consistent with stated mood?")
    RadioSet
      Value(value="was") Yes
      / (disable 90)
      Value(enables-selector=".89_no" value="was not") No
      / (enable 90)
  question.89_no(name="Q90" text="If not, how did the claimant appear?")
    TextBox
  
  section_text Mental Status Exam - Content of Thought
  question(name="Q82" text="Does the claimant have auditory hallucinations?")
    RadioSet
      Value(enables-selector=".82_yes" value="reported") Yes
      / (enable 83)
      Value(value="denies") No
      / (disable 83)
  question.82_yes(name="Q83" text="Please describe hallucinations:")
    TextBox
  question(name="Q84" text="Does the claimant have visual, tactile, or olfactory hallucinations?")
    RadioSet
      Value(enables-selector=".84_yes" value="reported") Yes
      / (enable 85)
      Value(value="denies") No
      / (disable 85)
  question.84_yes(name="Q85" text="Please describe hallucinations:")
    TextBox
  question(name="Q87" text="Does the claimant have delusions?")
    RadioSet
      Value(enables-selector=".87_yes" value="does") Yes
      / (enable 87a)
      Value(value="does not") No
      / (disable 87a)
  question.87_yes(name="Q87A" text="Please provide details:")
    TextBox
  question(name="Q86" text="Does the claimant have suicidal ideations?")
    RadioSet
      Value(enables-selector=".86_yes" value="does") Yes
      / (enable 86a)
      Value(value="does not") No
      / (disable 86a)
  question.86_yes(name="Q86A" text="Please provide details:")
    TextBox
  question(name="Q86B" text="Does the claimant have homicidal ideations?")
    RadioSet
      Value(enables-selector=".86B_yes" value="reported having") Yes
      / (enable 86c)
      Value(value="does not have") No
      / (disable 86c)
  question.86B_yes(name="Q86C" text="Please provide details:")
    TextBox 
 
  section_text Mental Status Exam - Stream of Mental Activity and Speech
  question(name="Q78" text="Was the claimant’s speech logical and coherent?")
    RadioSet
      Value(value="was") Yes
      / (disable 78a)
      Value(enables-selector=".87_no" value="was not") No
      / (enable 78a)
  question.87_no(name="Q78A" text="Please describe:")
    TextBox
  question(name="Q79" text="Describe the articulation:")
    RadioSet
      Value Clear
      Value Distorted
      Value Garbled
      Value Slurred
      Value Hesitant
  question(name="Q80" text="Select the velocity of  speech:")
    RadioSet
      Value Fast
      Value Normal
      Value Slow
      Value Pressured
  question(name="Q81" text="Select the volume of speech:")
    RadioSet
      Value Loud
      Value Normal
      Value Soft
      Value Weak

  question(name="Q91" text="How does the claimant describe their sleeping habits? Select all that apply.")
    CheckboxSet
      Value No problems
      Value Difficulty falling asleep
      Value Difficulty staying asleep
      Value Sleeping too much
      Value Persistent nightmares
      ValueOther Other
  question(name="Q92" text="How does the claimant describe their eating habits? Select all that apply.")
    CheckboxSet
      Value(value="no problems regarding appetite") No problems
      Value(value="a lack of appetite") Lack of appetite
      Value(value="easily forgetting meals") Easily forgets meals
      Value(value="the tendency to overeat") Often over eats
      ValueOther Other

  section_text Mental Status Exam- Orientation
  question(name="Q93" text="Is the claimant oriented to person, place, and time?")
   RadioSet
     Value Yes
     / (disable the rest of this section)
     Value(enables-selector=".93_yes") No
     / (enable 94-96a)
   / If needed, complete the additional questions to provide more information.
   / OPTIONAL: Only complete if needed for clarification
  group.93_yes
    question(name="Q94" text="Was the claimant orientated to person?")
      RadioSet
        Value Yes
        Value(enables-selector=".94_no") No
        / (enable 94a)
    question.94_no(name="Q94A" text="Please describe:")
      Textbox
    question(name="Q95" text="Was the claimant orientated to place?")
      RadioSet
        Value Yes
        Value(enables-selector=".95_no") No
        / (enable 95a)
    question.95_no(name="Q95A" text="Please describe:")
      Textbox
    question(name="Q96" text="Was the claimant orientated to time?")
      RadioSet
        Value Yes
        Value(enables-selector=".96_no") No
        / (enable 96a)
    question.96_no(name="Q96A" text="Please describe:")
      Textbox

  


  section_text Mental Status Exam- Memory: Immediate
  question
    text Instructions: "Please repeat these objects: LAMP, WATCH, and PEN."
    text "Remember them and I will ask you to recall them in five minutes."
    text Check the box below to begin a 5-minute timer.
    button(type="button") Start Timer (5 minutes)

    question(name="Q122" text="How many objects did the claimant remember after 5-minutes?")
      RadioSet
        Value 0
        Value 1
        Value 2
        Value 3

  section_text Mental Status Exam- Memory: Remote
  question(name="Q121" text="Did the claimant remember autobiographical history and past events?")
    RadioSet
      Value(value="strong") Yes
      Value(value="lacking") No


  section_text Mental Status Exam- Memory: Recent
  text Instructions: Read the strings of numbers to the claimant and have them repeat the numbers once you are finished. Have them repeat the first set forward, and the second set backwards. Read the numbers at the rate of one per second. Discontinue after failure of correct repetition.
  question(name="Q123" text="How many digits did the claimant remember forward and backward?")
    table
      tr
        th Digits Forward
        th Last level completed:
        th Digits Backward
        th Last level completed:
      tr
        td 3-8-4-9
        td: label.radio: input(type="radio" name="FORWARD" value=4) Correct?
        td 7-9-2
        td: label.radio: input(type="radio" name="BACKWARD" value=3) Correct?
      tr
        td 6-7-4-3-1
        td: label.radio: input(type="radio" name="FORWARD" value=5) Correct?
        td 6-5-1-3
        td: label.radio: input(type="radio" name="BACKWARD" value=4) Correct?
      tr
        td 2-4-8-5-9-3
        td: label.radio: input(type="radio" name="FORWARD" value=6) Correct?
        td 1-8-5-7-9
        td: label.radio: input(type="radio" name="BACKWARD" value=5) Correct?
      tr
        td 4-7-9-3-1-2-8
        td: label.radio: input(type="radio" name="FORWARD" value=7) Correct?
        td 2-4-8-1-3-7
        td: label.radio: input(type="radio" name="BACKWARD" value=6) Correct?

  question(name="Q123B" text="Given the claimant’s performance on these tasks, please rate their overall memory functions:")
    RadioSet
        Value Very superior
        Value Superior
        Value High average
        Value Average
        Value Low average
        Value Borderline
        Value Extremely low
        Value Consistent
        Value Inconsistent

  section_text Mental Status Exam- Intellectual Functioning: Fund of Knowledge
  question(name="Q129" text="Which of the following was the claimant able to answer correctly?")
    CheckboxSet(rollup="sum")
      Value Who is the current president of the United State of America?
      Value What is the capital of this state?
      Value Who is the governor of this state?
      Value Which states border this state?
      Value How many eggs are in one dozen?
      Value Why do we put food in the refrigerator?  
  question(name="Q128" text="Is the claimant aware of current events?")
    RadioSet
      Value(enables-selector=".128_yes" value="is aware") Yes
      Value(value="has limited awareness") Limited
      Value(value="is unaware") No
    question.128_yes(name="Q128A" text="The claimant reported the following current events")
      TextBox
  question(name="Q127" text="Is the claimant’s fund of knowledge consistent with education level and background?")
    RadioSet
      Value(value="was") Yes
      Value(value="was not") No

  section_text Mental Status Exam- Concentration

  text Three-Step Command Instructions:
  text Ask the claimant “Which hand is your dominant hand?”
  text Then state: Before you touch the top of your head with your dominant hand; first touch your left knee and then clap three times.”
  text If they fail that prompt then use:  “After you touch your left knee and clap three times, touch the top of your head.”
  text Note how many repetitions, if any.
  text If you use the second one, note that claimant needed “two repetitions and modification of instructions.”

  question(name="Q136" text="Was the claimant able to complete 3-step commands?")
    Radioset 
      Value(value="was able to complete 3-step commands with no repetitions of command") Yes, with no repetitions
      Value(value="was able to complete 3-step commands with one repetition of command") Yes, with one repetition
      Value(value="was able to complete 3-step commands with two repetitions of command") Yes, with two repetitions
      Value(value="was able to complete 3-step commands with two repetitions of command and modifications of the instructions") Yes, with two repetitions and modification of the instructions 
      Value(value="was not able to complete 3-step commands even after several repetitions") No, even after several repetitions
      Value(value="refused to attempt 3-step command") No, claimant refused to attempt commands


  section_text Mental Status Exam- Concentration: Spelling
  question(name="Q137" text="Was the claimant able to spell WORLD forward?")
    RadioSet
      Value(value="able") Yes
      Value(value="unable") No
  question(name="Q138" text="Was the claimant able to spell WORLD backward?")
    RadioSet
      Value(value="able") Yes
      Value(value="unable") No

  section_text Mental Status Exam- Concentration: Calculations
  question(name="Q133" text="Please ask the following questions and check the Correct Answer box if answered correctly.")
    RadioSet(rollup="sum")
      Value $9 + $7 = ? (Correct Answer: $16)
      Value Incorrect Answer
    Radioset
      Value $23 – $10 = ? (Correct Answer: $13)
      Value Incorrect Answer
    Radioset  
      Value $11 x $10 = ? (Correct Answer: $110)
      Value Incorrect Answer
    Radioset
      Value $9 / $3 = ? (Correct Answer: $3)
      Value Incorrect Answer
    Radioset
      Value 47 cents + 10 cents = ? (Correct Answer: 57 cents)
      Value Incorrect Answer


  text Instructions for Serials: Have claimant begin at 100 and subtract by 7's, and keep going until they reach the end of the string below or until they are no longer able to complete. If the claimant is unable to do serial 7's, have them do the serial 3's.

  table
    tr
      th Series
      th Answer
    tr
      td Serial 7’s
      td Correct Answer: 100-93-86-79-72-65-58-51-44-37-30-23-16-9-2
    tr
      td Serial 3’s
      td Correct Answer: 100-97-94-91-88-85-82-79-76-73-70-67-64-61-…

  question(name="Q133A" text="Was the claimant able to execute serial-7’s?")
    RadioSet
      Value(value="able to complete serial-7's") Yes
      Value(value="able to complete serial-7's, but made a few errors") Yes, but made a few errors
      Value(value="unable to complete serial-7's, but was able to complete serial-3's") No, but the claimant completed serial-3’s accurately
      Value(value="unable to complete serial-7's and serial-3's") No, the claimant was unable to execute serial-7's or serial-3's
      Value(value="unable to complete serial-7's and refused to participate") No, the claimant refused to participate

  question(name="Q133B" text="Was the claimant able to answer the following word problems?")
    CheckboxSet(rollup="sum")
      Value T-shirts are generally priced $5 each, but today, they are on sale.  T-shirts are priced 2 for $9, how much would 6 t-shirts cost? (Correct Answer: $27)
      Value A pack of chewing gum cost 99 cents.  There are 25 pieces of chewing gum in a pack.  How many pieces of gum are in six packs? (Correct Answer: 150)



  section_text Mental Status Exam- Intellectual Functioning: Abstractions
  text For the next four questions, the correct answer is provided; however, score similar responses appropriately. Ask the claimant each of the questions and record incorrect responses.
  question(name="Q142" text="What does the proverb, “Time is golden,” mean?")
    RadioSet
      Value Correct Answer: Time is precious.
      Value(enables-selector=".142aa") Incorrect Answer
  question.142aa(text="Write the claimant's incorrect response.")
    TextBox
  question(name="Q142A" text="What does the proverb, “Rome was not built in a day,” mean?")
    RadioSet
      Value Correct Answer: Major growth takes time.
      Value(enables-selector=".142ab") Incorrect Answer
  question.142ab(text="Write the claimant's incorrect response.")
    TextBox
  question(name="Q146" text="What are the similarities and differences of “a boat and a car “?")
    RadioSet
      Value Correct Answer: Both are transportation, but one is for water and the other land.
      Value(enables-selector=".146aa") Incorrect Answer
  question.146aa(text="Write the claimant's incorrect response.")
    TextBox
  question(name="Q146A" text="What are the similarities and differences of “a pen and a pencil”?")
    RadioSet
      Value Correct Answer: Both are writing instruments, but one has ink and the other graphite or lead.
      Value(enables-selector=".146ab") Incorrect Answer
  question.146ab(text="Write the claimant's incorrect response.")
    TextBox
  
  section_text Mental Status Exam - Insight and Judgment
  question(name="Q147" text="What is the claimant’s insight into own condition?")
    RadioSet
      Value Absent
      Value Fair
      Value Good
      Value Limited
      Value Impaired
    text For the next two questions, the correct answer is provided; however, score similar responses appropriately.
  question(name="Q150" text="What would the claimant do if the claimant smelled smoke in a crowded movie theater?")
    RadioSet
      Value Correct Answer: Alert local authorities.
      Value(enables-selector=".150a") Incorrect Answer
  question.150a(name="Q150a" text="Write the claimant's incorrect response.")
    TextBox
  question(name="Q151" text="What would the claimant do if the claimant found a lost purse in a store?")
    RadioSet
      Value Correct Answer: Turn in the purse to a store manager.
      Value(enables-selector=".151a") Incorrect Answer
  question.151a(name="Q151a" text="Write the claimant's incorrect response.")
    TextBox
  question(name="Q152" text="Regarding the claimant’s ability to make sound judgments, please rate abilities.")
    RadioSet
      Value Good
      Value Fair
      Value Poor

  group.enable-complex.enable-psych-mem.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Psychological Testing
    question(name="Q98" text=" Which tests did the claimant take? Select all that apply.")
      text Intellectual Ability (98a)
      CheckboxSet
        Value Wechsler Adult Intelligence Scale (WAIS-IV)
        Value Woodcock Johnson III (WJ-III)
        Value Test of Nonverbal Intelligence (TONI-III)
        Value Leiter International Performance Scale- Revised (Leiter-R)
        Value Stanford Binet Intelligence Test
        Value Raven Progressive Matrices
        Value Leiter International Scale
        text Memory Functioning (98b)
        Value Wechsler Memory Scale (WMS-IV)
        Value Rey 15 Item Recognition Test
        text Neuropsychological Tests (98c)
        Value(enables-selector=".trails_yes") Trails Making A and B
        Value Halstead-Reitan
        Value Luria-Nebraska
        ValueOther Other:
    question(name="Q99" text="Describe the claimant’s testing behaviors:")
      TextBox
  group.enable-complex.enable-psych-mem
    section_text Intellectual Functioning / Sensorium - Neuropsychological Tests
    question.trails_yes(name="Q149" text="Trail Making Tests")
      p The following is a chart containing the norms for this Trail making A &amp; B test. Please use the data to fill in the rows on the table for question 149. The numbers listed are in seconds.
      table
        tr
          th(colspan=1) Percent.
          th(colspan=2) Ages 20-39
          th(colspan=2) Ages 40-49
          th(colspan=2) Ages 50-59
          th(colspan=2) Ages 60-69
          th(colspan=2) Ages 70-79
        tr
          th Trails
          th A
          th B
          th A
          th B
          th A
          th B
          th A
          th B
          th A
          th B
        tr
          th 90
          td 21
          td 45
          td 22
          td 49
          td 25
          td 55
          td 29
          td 64
          td 38
          td 79
        tr
          th 75
          td 26
          td 55
          td 28
          td 57
          td 29
          td 75
          td 35
          td 89
          td 54
          td 132
        tr
          th 50
          td 32
          td 69
          td 34
          td 78
          td 38
          td 98
          td 48
          td 119
          td 80
          td 196
        tr
          th 25
          td 42
          td 94
          td 45
          td 100
          td 49
          td 135
          td 67
          td 172
          td 105
          td 292
        tr
          th 10
          td 50
          td 129
          td 59
          td 151
          td 67
          td 177
          td 104
          td 282
          td 168
          td 450
      p
      table
        tr
          th(colspan=5) TRAIL MAKING TESTS
        tr
          th Trails
          th Seconds
          th Errors
          th Percentile Range
          th Functioning
        tr
          th TRAIL A
          td: TextBox(name="A1")
          td: TextBox(name="A2")
          td: TextBox(name="A3")
          td: TextBox(name="A4")
        tr
          th TRAIL B
          td: TextBox(name="B1")
          td: TextBox(name="B2")
          td: TextBox(name="B3")
          td: TextBox(name="B4")

    question(name="Q302" text=" Please discuss the findings of any neuropsychological testing administered:")
      TextBox

  group.enable-complex.enable-psych-mem
    section_text Intellectual Functioning / Sensorium - Memory Index Scores
    question(name="Q112" text="Please paste table of index scores from memory testing:")
      TextBox

    question(name="Q113" text="Please paste table of subtest scores from memory testing:")
      TextBox
    question(name="Q114" text="Comments regarding this claimant’s performance on the memory testing:")
      TextBox
    question(name="Q116" text="Regarding the claimant’s Delayed and Immediate Memory scores, please rate abilities. Select all that apply.")
      CheckboxSet
        Value Very superior
        Value Superior
        Value High average
        Value Average
        Value Low average
        Value Borderline
        Value Extremely low
        Value Consistent
        Value Inconsistent

  group.enable-complex.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Intellectual Functioning Index Scores
    question(name="Q100" text="Please paste table of index scores from intellectual testing:")
      TextBox
    question(name="Q101" text="Please paste table of subtest scores from intellectual testing:")
      TextBox
    question(name="Q102" text="Comments regarding this claimant’s performance on the intellectual testing:")
      TextBox
    question(name="Q200" text="What level is the claimant’s verbal comprehension skills (VCI)?")
      RadioSet
        Value Very superior
        Value Superior
        Value High average
        Value Average
        Value Low average
        Value Borderline
        Value Extremely low

  group.enable-psych-only.enable-psych-mem
    question(name="Q110" text="What is the claimant’s level of intellectual functioning?")
      RadioSet
        Value Above average
        Value Average
        Value Below average

  group.enable-complex.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Concentration
    question(name="Q135" text="What level is the claimant’s working memory as indicated by the intelligence assessment?")
      RadioSet
        Value Very superior
        Value Superior
        Value High average
        Value Average
        Value Low average
        Value Borderline
        Value Extremely low
    question(name="Q135A" text="What is the index score for this assessment section?")
      TextBox

  group.enable-complex.enable-psych-intel
    section_text Mental Status Exam- Intellectual Functioning: Abstract Thinking
    question(name="Q144" text="What level is the claimant’s ability to think abstractly (Similarities)?")
      RadioSet
        Value Very superior
        Value Superior
        Value High average
        Value Average
        Value Low average
        Value Borderline
        Value Extremely low
    question(name="Q145" text="What is the scaled score for this test?")
      TextBox

  group.enable-complex.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Fund of Knowledge / Information
    question(name="Q125" text="What level is the claimant’s fund of knowledge as seen in the subtest information?")
      RadioSet
        Value Very superior
        Value Superior
        Value High average
        Value Average
        Value Low average
        Value Borderline
        Value Extremely low
    question(name="Q126" text="What is the core test’s scaled score?")
      TextBox

  group.enable-complex.enable-psych-intel
    section_text Mental Status Exam- Attention: Calculations
    question(name="Q131" text="What level is the claimant’s ability to solve basic mathematical problems?")
      RadioSet
        Value Very superior
        Value Superior
        Value High average
        Value Average
        Value Low average
        Value Borderline
        Value Extremely low
    question(name="Q132" text="What is this core test’s scaled score?")
      TextBox

    section_text Intellectual Functioning / Sensorium - Additional Psychological Assessments
    question(name="Q303" text="Please select any additional testing that was requested an administered. Select all that apply.")
      text Personality and Behavior Assessments
      CheckboxSet
        Value Vineland Adaptive Behavior Scale
        Value MMPI-2-RF
        Value Rorschach
        Value MCMI
    question(name="Q304" text="If a test is selected, please discuss the result here:")
      TextBox
    question(name="Q305" text="Please select any additional testing that was requested an administered. Select all that apply.")
      text Malingering Measures
      CheckboxSet
        Value Test of Malingering Memory (TOMM)
        Value Structured Interview of Malingering Symptoms (SIMS)
        Value Miller Forensic Assessment of Symptoms Test (M-FAST)
        Value Portland Digit Symbol Test
        Value Validity Indicator Profile (VIP)
    question(name="Q306" text="If a test is selected, please discuss the result here:")
      TextBox

section#Current-Level-of-Functioning
  section_text Current Level of Functioning - Activities of Daily Living
  question(name="Q153" text="What is the claimant’s typical day like?")
    TextBox
  question(name="QA154" text="The claimnt is able to execute the following without assistance: (Select all that apply)")
    CheckboxSet
      Value Cooking
      Value Grocery shopping
      Value Self-care
      Value Laundry
      Value(value="do no daily tasks") None
  question(name="QA154A" text="Does the claimant require assistance with any of these tasks?")
    RadioSet
      Value(enables-selector=".154_yes") Yes
      / (enable a155, a156)
      Value No
  question.154_yes(name="QA155" text="Which tasks do the claimant require help with? Select all that apply.")
    CheckboxSet
      Value Cooking
      Value Grocery shopping
      Value Self-care
      Value Laundry
      Value(value="no daily tasks") None
  question.154_yes(name="QA155A" text="Who helps with these tasks?")
    TextBox
  question(name="Q156" text="Is the claimant able to complete ADLs efficiently?")
    RadioSet
      Value(value="is able to complete ADLs efficiently") Yes
      Value(value="is unable to complete ADLs efficiently") No
  question(name="QA156A" text="Is the claimant able to handle personal funds?")
    RadioSet
      Value(value="able") Yes
      Value(enables-selector=".156A_no" value="unable") No
      / (show A156a)
  question.156A_no(name="QA156B" text="Who handles finances for the claimant?")
    TextBox

  section_text Current Level of Functioning - Social Functioning
  question(name="QA157" text="Does the claimant have social friends?")
    RadioSet
      Value(value="having") Yes
      Value(enables-selector=".A157_no"value="having no") No
      / (enable A157a)
  question.A157_no(name="QA157A" text="Is the claimant isolated from people?")
    RadioSet
      Value(value="is") Yes
      Value(value="is not") No

  question(name="Q158" text="Is the claimant a member of an organized group?")
    RadioSet
      Value(enables-selector=".158_yes" value="involved")Yes
      / (enable 158a)
      Value(value="not involved") No
  question.158_yes(name="Q158A" text="Please provide detail:")
    TextBox
  question(name="Q159" text="Does the claimant participate in recreational activities?")
    RadioSet
      Value(enables-selector=".159_yes" value="does") Yes
      Value(value="does not") No
  question(name="Q159A" text="Is a house of worship regularly attended?")
    RadioSet
      Value(value="is") Yes
      Value(value="is not") No
  question(name="Q160" text="Does the claimant have a history of violence?")
    RadioSet
      Value(enables-selector=".160_yes" value="does") Yes
      / (enable 160a)
      Value(value="does not") No
  question.160_yes(name="Q160A" text="Please describe:")
    TextBox
  question(name="Q181" text="How is the claimant’s support system?")
    RadioSet
      Value Good
      Value Fair
      Value Limited
      Value Poor
  question(name="Q181A" text="Who is included in the support system?")
    TextBox
  question(name="Q299" text="How are the claimant’s social and interpersonal relationships?")
    RadioSet
      Value Good
      Value Fair
      Value Poor
  question(name="Q300" text="Did the claimant act appropriately with the provider and office staff?")
    RadioSet
      Value Yes
      Value(enables-selector=".300_no") No
      / (enable 301)
  question.300_no(name="Q301" text="Please explain any inappropriate behavior:")
    TextBox

  section_text Current Level of Functioning - Concentration, Persistence, and Pace
  question(name="QA161" text="Instructions: Please provide the length of time (in minutes) the claimant participates in the following activities per day. Also, enter one of the claimant’s hobbies and the length of time the claimant can sustain the activity. If duration is listed, please provide a unit of time.")
    table
      tr
        th Activity
        th Remarks
        th Activity
        th Remarks
      tr
        td Reading
        td: TextBox
        td Watch TV
        td: TextBox
      tr
        td Walking
        td: TextBox
        td Driving
        td: TextBox
      tr
        td Standing
        td: TextBox
        td Cooking
        td: TextBox
      tr
        td Computer
        td: TextBox
        td Laundry
        td: TextBox
      tr
        td Hobby
        td: TextBox
        td Grocery shopping
        td: TextBox


  section_text Current Level of Functioning - Decompensation and Deterioration
  question(name="Q167" text="Is there evidence of deterioration and decompensation in the workplace?")
    RadioSet
      Value(enables-selector=".167_yes" value="is") Yes
      / (enable 168)
      Value(value="is no") No
      / (disable 168)
  question.enable-child(name="Q167c" text="Is there evidence of deterioration and decompensation in school?")
    RadioSet
      Value(enables-selector=".167c_yes" value="is") Yes
      / (enable 168c)
      Value(value="is not") No
      / (disable 168c)
  question.167c_yes(name="Q168c" text="Where is the deterioration and decompensation seen or evidenced by?")
    CheckboxSet
      Value Voluntary psychiatric commitment
      Value Difficulty getting along with classmates
      Value Skipping school to manage mental illness
      Value Failure to complete assignments
      Value Frequent involvement with school authorities
      Value Behavioral disturbances
      ValueOther Other
  question.167_yes(name="Q168" text="Where is the deterioration and decompensation seen or evidenced by?")
    CheckboxSet
      Value Voluntary psychiatric commitment
      Value Difficulty getting along with coworkers
      Value Taking a leave of absence to manage mental illness
      Value Frequent involvement with law enforcement
      Value Behavioral disturbances
      ValueOther Other
  question(name="Q169" text="Has the claimant’s ability to work been impacted by physical and mental limitations?")
    RadioSet
      Value(value="has been") Yes
      Value(value="has not been") No
  question(name="Q170" text="What are the new difficulties reported by claimant? Select all that apply.")
    CheckboxSet
      Value Sustaining concentration and attention
      Value Remembering information
      Value Making good judgments at work
      Value Following multi-step directions
      Value Socializing with friends
      Value Motivation
      Value Fatigue
      Value Apathy
      Value Behavioral problems
      Value Insomnia
      Value Poor appetite
      Value Inability to complete ADLS in a timely manner
      Value Suicidal ideations
      Value Hallucinations
      Value Delusions
      Value Blurred vision
      Value Lower back pain
      ValueOther Other

section#DSM-IV-Diagnosis
  section_text DSM-IV Diagnosis
  question(name="Q162" text="What is the claimant’s Axis I diagnosis? Select all that apply.")
    CheckboxSet
      Value 290.10 Dementia of the Alzheimer's Type, With Early Onset, Uncomplicated
      Value 290.11 Dementia of the Alzheimer's Type, With Early Onset, With Delirium
      Value 290.12 Dementia of the Alzheimer's Type, With Early Onset, With Delusions
      Value 290.13 Dementia of the Alzheimer's Type, With Early Onset, With Depressed Mood
      Value 290.20 Dementia of the Alzheimer's Type, With Late Onset, With Delusions
      Value 290.21 Dementia of the Alzheimer's Type, With Late Onset, With Depressed Mood
      Value 290.3 Dementia of the Alzheimer's Type, With Late Onset, With Delirium
      Value 296.80 Bipolar Disorder NOS
      Value 296.56 Bipolar I Disorder, most recent episode depressed, in full remission
      Value 296.55 Bipolar I Disorder, most recent episode depressed, in partial remission
      Value 296.51 Bipolar I Disorder, most recent episode depressed, mild
      Value 296.52 Bipolar I Disorder, most recent episode depressed, moderate
      Value 296.53 Bipolar I Disorder, most recent episode depressed, severe without psychotic features
      Value 296.54 Bipolar I Disorder, most recent episode depressed, severe with psychotic features
      Value 296.50 Bipolar I Disorder, most recent episode depressed, unspecified
      Value 296.40 Bipolar I Disorder, most recent episode hypomanic
      Value 296.46 Bipolar I Disorder, most recent episode manic, in full remission
      Value 296.45 Bipolar I Disorder, most recent episode manic, in partial remission
      Value 296.41 Bipolar I Disorder, most recent episode manic, mild
      Value 296.42 Bipolar I Disorder, most recent episode manic, moderate
      Value 296.43 Bipolar I Disorder, most recent episode manic, severe without psychotic features
      Value 296.44 Bipolar I Disorder, most recent episode manic, severe with psychotic features
      Value 296.40 Bipolar I Disorder, most recent episode manic, unspecified
      Value 296.66 Bipolar I Disorder, most recent episode mixed, in full remission
      Value 296.65 Bipolar I Disorder, most recent episode mixed, in partial remission
      Value 296.61 Bipolar I Disorder, most recent episode mixed, mild
      Value 296.62 Bipolar I Disorder, most recent episode mixed, moderate
      Value 296.63 Bipolar I Disorder, most recent episode mixed, severe without psychotic features
      Value 296.64 Bipolar I Disorder, most recent episode mixed, severe with psychotic features
      Value 296.60 Bipolar I Disorder, most recent episode mixed, unspecified
      Value 296.7 Bipolar I Disorder, most recent episode unspecified
      Value 296.06 Bipolar I Disorder, single manic episode, in full remission
      Value 296.05 Bipolar I Disorder, single manic episode, in partial remission
      Value 296.01 Bipolar I Disorder, single manic episode, mild
      Value 296.02 Bipolar I Disorder, single manic episode, moderate
      Value 296.03 Bipolar I Disorder, single manic episode, severe without psychotic features
      Value 296.04 Bipolar I Disorder, single manic episode, severe with psychotic features
      Value 296.00 Bipolar I Disorder, single manic episode, unspecified
      Value 294.9 Cognitive Disorder NOS
      Value 295.20 Schizophrenia, Catatonic Type
      Value 295.10 Schizophrenia, Disorganized Type
      Value 295.30 Schizophrenia, Paranoid Type
      Value 295.60 Schizophrenia, Residual Type
      Value 295.90 Schizophrenia, Undifferentiated Type
      Value 295.70 Schizoaffective Disorder
      Value 296.20 Major Depressive Disorder, Single Episode, unspecified
      Value 296.21 Major Depressive Disorder, Single Episode, Mild
      Value 296.22 Major Depressive Disorder, Single Episode, Moderate
      Value 296.23 Major Depressive Disorder, Single Episode, Severe without psychotic features
      Value 296.24 Major Depressive Disorder, Single Episode, Severe with psychotic features
      Value 296.25 Major Depressive Disorder, Single Episode, in partial remission
      Value 296.26 Major Depressive Disorder, Single Episode, in full remission
      Value 296.30 Major Depressive Disorder, Recurrent, unspecified
      Value 296.31 Major Depressive Disorder, Recurrent, Mild
      Value 296.32 Major Depressive Disorder, Recurrent, Moderate
      Value 296.33 Major Depressive Disorder Recurrent, Severe without psychotic features
      Value 296.34 Major Depressive Disorder, Recurrent, Severe with psychotic features
      Value 296.35 Major Depressive Disorder, Recurrent, in partial remission
      Value 296.36 Major Depressive Disorder, Recurrent, in full remission
      Value 296.89 Bipolar II Disorder
      Value 299.00 Autistic Disorder
      Value 300.01 Panic Disorder without Agoraphobia
      Value 300.02 Generalized Anxiety Disorder
      Value 300.21 Panic Disorder with Agoraphobia
      Value 300.3 Obsessive-compulsive Disorder
      Value 300.4 Dysthymic Disorder
      Value 307.1 Anorexia nervosa
      Value 309.81 Posttraumatic Stress Disorder
      Value 310.2 Postconcussion Syndrome
      Value 314.00 Attention Deficit/Hyperactivity Disorder, Predominantly Inattentive Type
      Value 314.01 Attention Deficit/Hyperactivity Disorder, Combined Type
      Value 314.01 Attention Deficit/Hyperactivity Disorder, Predominantly Hyperactive-Impulsive  Type
      Value 314.9 Attention Deficit/Hyperactivity Disorder NOS
      Value 315.00 Reading Disorder
      Value 315.1 Mathematics Disorder
      Value 315.2 Disorder of Written Expression
      Value 315.9 Learning Disorder NOS
      ValueOther Other
  question(name="Q163" text="Axis II: Please select from the following choices.")
    CheckboxSet
      Value No diagnosis
      Value 301.0 Paranoid Personality Disorder
      Value 301.20 Schizoid Personality Disorder
      Value 301.22 Schizotypal Personality Disorder
      Value 301.7 Antisocial Personality Disorder
      Value 301.83 Borderline Personality Disorder
      Value 301.50 Histrionic Personality Disorder
      Value 301.81 Narcissistic Personality Disorder
      Value 301.82 Avoidant Personality Disorder
      Value 301.6 Dependent Personality Disorder
      Value 301.4 Obsessive-compulsive Personality Disorder
      Value 301.9 Personality Disorder NOS
      Value 317 Mild Mental Retardation
      Value 318.0 Moderate Mental Retardation
      Value 318.1 Severe Mental Retardation
      Value 318.2 Profound Mental Retardation
      Value 319 Mental retardation, severity unspecified
      Value V62.89 Borderline Intellectual Functioning
      ValueOther Other
      Value Deferred
  question(name="Q164" text="Axis III: Medical conditions are automatically inserted from previous questions.")
  question(name="Q165" text="Axis IV: Please select any stressors from the following list that may contribute to an Axis IV diagnosis. Select all that apply.")
    text PROBLEMS WITH PRIMARY SUPPORT GROUP
    CheckboxSet
      Value Death of a family member
      Value Health problems in family
      Value Disruption of family by separation
      Value Disruption of family by divorce
      Value Disruption of family by estrangement
      Value Removal from the home
      Value Remarriage of parent
      Value Sexual abuse
      Value Physical abuse
      Value Parental overprotection
      Value Neglect of child
      Value Inadequate discipline
      Value Discord with siblings
      Value Birth of a sibling
    text PROBLEMS RELATED TO THE SOCIAL ENVIRONMENT
    CheckboxSet
      Value Death or loss of friend
      Value Inadequate social support
      Value Living alone
      Value Difficulty with acculturation
      Value Discrimination
      Value Adjustment to life-cycle transition
    text EDUCATIONAL PROBLEMS
    CheckboxSet
      Value Illiteracy
      Value Academic problems
      Value Discord with teachers
      Value Discord with classmates
      Value Inadequate school environment
    text OCCUPATIONAL PROBLEMS
    CheckboxSet
      Value Unemployment
      Value Threat of job loss
      Value Stressful work schedule
      Value Difficult work conditions
      Value Job dissatisfaction
      Value Job change
      Value Discord with boss
      Value Discord with co-workers
    text HOUSING PROBLEMS
    CheckboxSet
      Value Homelessness
      Value Inadequate housing
      Value Unsafe neighborhood
      Value Discord with neighbors
      Value Discord with landlord
    text ECONOMIC PROBLEMS
    CheckboxSet
      Value Extreme poverty
      Value Inadequate finances
      Value Insufficient welfare support
    text PROBLEMS WITH ACCESS TO HEALTH CARE SERVICES
    CheckboxSet
      Value Inadequate health care services
      Value Transportation to health care facilities unavailable
      Value Inadequate health insurance
    text PROBLEMS RELATED TO INTERACTION WITH THE LEGAL SYSTEM
    CheckboxSet
      Value Arrest
      Value Incarceration
      Value Litigation
      Value Victim of a crime
    text OTHER PSYCHOSOCIAL AND ENVIRONMENTAL PROBLEMS
    CheckboxSet
      Value Exposure to disasters
      Value Exposure to war
      Value Discord with non-family caregivers
      Value Discord with physician
      Value Unavailability of social services agencies
  question(name="Q165A" text="Provide any additional information as needed.")
    TextBox
  question(name="Q166" text="Axis V: Please record the claimant’s current GAF:")
    TextBox

section#Discussion-Prognosis
  section_text Discussion / Prognosis
  question(name="Q171" text="Did the claimant respond in an open and honest manner?")
    RadioSet
      Value(value="was") Yes
      Value(value="was not") No
  question(name="Q172" text="Was there any exaggeration in the claimant’s responses?")
    RadioSet
      Value(enables-selector=".172_yes" value="seems") Yes
      / (show 172a)
      Value(value="did not seem") No
  question.172_yes(name="Q172A" text="Please describe:")
    TextBox
  question(name="Q173" text="Were there any inconsistencies?")
    RadioSet
      Value(enables-selector=".173_yes" value="did appear") Yes
      / (show 174)
      Value(value="did not appear") No
  question.173_yes(name="Q174" text="Please provide examples:")
    TextBox
  question(name="Q175" text="As evidenced by the claimant’s current and past compliance with treatment, is the claimant willing to receive treatment (psychotherapy or medications)?")
    RadioSet
      Value(value="willing") Yes
      Value(value="unwilling") No
  question(name="Q180" text="What is the claimant’s willingness to use resources?")
    RadioSet
      Value Good
      Value Fair
      Value Limited
      Value Poor
  question(name="Q182" text="How likely is the claimant to improve in the next twelve months?")
    RadioSet
      Value Likely
      Value Unlikely
      Value Guarded
  question(name="Q183" text="What is the likelihood the claimant will be able to respond to routine changes in the workplace?")
    RadioSet
      Value Good
      Value Poor
      Value Guarded

section#Capability-of-Managing-Funds
  section_text Capability of Managing Funds
  question(name="QA187" text="What is the claimant’s ability to manage employment benefits?")
    RadioSet
      Value Likely satisfactory
      ValueOther.prepend Likely poor, given:
  question(name="QA188" text="Does the claimant need a protective payee?")
    RadioSet
      Value(value="does") Yes
      Value(value="does not") No