section(title="Identification")
  question(text="Name of Claimant:")
    TextBox(name="Q1_FIRST" placeholder="First")
    TextBox(name="Q1_LAST" placeholder="Last")
  question(text="A. Date of Birth:")
    TextBox(name="Q1_BIRTHDATE" placeholder="dd/mm/yyyy")
  question(text="B. Case No:")
    TextBox(name="Q1_CASENUM")
  question(text="C. RQID:")
    TextBox(name="Q1_RQID")
  question(text="D. Adjudicator:")
    TextBox(name="Q1_ADJUDICATOR")
  question(text="E. Date and Time of Exam:")
    TextBox(name="Q1_EXAMDATE" placeholder="dd/mm/yyyy")
  question(text="F. Location:")
    TextBox(name="Q1_EXAMLOC")
  question(text="3. What kind of examination is this?")
    RadioSet(name="Q3")
      Value(enables-selector=".enable-complex")     Complex psychological evaluation
      Value(enables-selector=".enable-psych-only")  Psychological diagnostic evaluation
      Value(enables-selector=".enable-psych-mem")   Psychological diagnostic evaluation with memory assessment
      Value(enables-selector=".enable-psych-intel") Psychological diagnostic evaluation with intelligence assessment

  question(name="Q4" text="4. What is the claimant’s age?")
    TextBox
  question(name="Q5" text="5. What is the claimant’s ethnicity/race?")
    CheckboxSet
      Value American Indian
      Value African American
      Value Asian American
      Value Caucasian American
      Value Hispanic American
      Value Native Hawaiian
      Value Pacific Islander
      ValueOther Other
  question(name="Q6" text="6. What is the claimant’s birthplace?")
    TextBox


section#General-Observations
  section_text General Observations
  question(name="Q8" text="8. When did the claimant arrive to the examination?")
    RadioSet
      Value Early
      Value On time
      Value Late
  question(name="Q8A" text="8A. Was the claimant:")
    RadioSet
      Value unaccompanied
      ValueOther.prepend accompanied by
  question(name="Q9" text="9. How did the claimant get to the examination?")
    RadioSet
      Value Drove
      Value DSHS arranged the transportation
      Value Taxi
      Value Public transportation
      ValueOther.prepend Driven by
  question(name="Q11" text="11. Is the claimant considered a reliable historian?")
    RadioSet
      Value yes
      Value(enables-selector=".11_no") no
  question.11_no(name="Q11A" text="11A. If no, who is the reliable historian for this interview?")
    TextBox


section#Chief-Complaint
  section_text Chief Complaint
  question(name="Q13" text="13. What is the claimant’s chief complaint? Select all that apply.")
    CheckboxSet
      Value(enables-selector="#Q16A") Alzheimer’s Disease
      Value(enables-selector="#Q16B") Anorexia
      Value(enables-selector="#Q16C") Anxiety
      Value(enables-selector="#Q16D") Attention Disorder
      Value(enables-selector="#Q16E") Autism Disorders
      Value(enables-selector="#Q16F") Bipolar Disorder
      Value(enables-selector="#Q16G") Cognitive Disorder NOS
      Value(enables-selector="#Q16H") Depression
      Value(enables-selector="#Q16I") Dysthymic Disorder
      Value(enables-selector="#Q16J") Learning Disability
      Value(enables-selector="#Q16K") Mental Retardation
      Value(enables-selector="#Q16L") Obsessive Compulsive Disorder
      Value(enables-selector="#Q16M") Panic Disorder
      Value(enables-selector="#Q16N") Personality Disorder
      Value(enables-selector="#Q16O") Postconcussion Syndrome
      Value(enables-selector="#Q16P") Posttraumatic Stress Disorder
      Value(enables-selector="#Q16Q") Schizoaffective Disorder
      ValueOther Other


section#Review-of-Records
  section_text Review of Records
  question(name="Q14" text="14. When was the claimant first diagnosed? Please enter in this format: Month Year.")
    TextBox
  question(name="Q14A" text="14A. Who diagnosed the claimant?")
    TextBox
    text Repeat 14 and 14a for each diagnosis. If possible have the diagnoses from question 13 filter down to this section. It would allow the doctor to specify who diagnosed the claimant and when for each diagnosis.
  question(name="Q15" text="15. Were there any special circumstances surrounding the onset of this impairment or condition?")
    CheckboxSet
      Value no
      ValueOther yes


section#History-of-Present-Illness
  section_text History of Present Illness
  question(name="Q16" text="16. What are the claimant’s current symptoms? Select all that apply.")
    = render partial: 'Q16-illness'
    question(name="Q16A" text="16A. Please provide any additional symptoms.")
      TextBox


question(name="Q17" text="17. Describe in detail the effect of each impairment on the claimant’s daily functioning. Please focus on relationships and work ability.")
  TextBox
question(name="QA18" text="A18. Please provide the date the claimant stopped working due to the inability to perform work duties?")
  TextBox
question(name="QA18A" text="A18A. Please include any information regarding attempts to return to the workplace.")
  TextBox
question(name="Q19" text="19. Is the claimant currently in psychotherapy?")
  RadioSet
    Value(enables-selector=".19_no") no
    /enable 179. disable 19a, 20, 20a.
    Value(enables-selector=".19_yes") yes
    /enable 19a, 20, and 20a. disable 179
question.19_no(name="Q179" text="179. If no, is the claimant willing to consider psychotherapy?")
  RadioSet
    Value yes
    Value no
question.19_yes(name="Q19A" text="19A. If yes, with whom?")
  CheckboxSet
    Value A counselor
    Value A psychologist
    Value A therapist
question.19_yes(name="Q20" text="20. If yes, does the claimant find psychotherapy helpful?")
  RadioSet
    Value yes
    Value(enables-selector=".20_no") no
question.20_no(name="Q20A" text="20A. If no, please provide details.")
  TextBox

section#Current-Medications
  section_text Current Medications
  question(name="Q21" text="21. Is the claimant taking any medications?")
    RadioSet
      Value no
      Value(enables-selector="21_yes") yes
      /enable 21a, 22, and 22table
  group.21_yes
    question(name="Q177" text="177. If yes, who is writing the prescriptions?")
      CheckboxSet
        Value A psychiatrist
        Value A PCP
        Value A nurse practitioner
    question(name="Q21A" text="21A. If yes, did the claimant take any medication today?")
      RadioSet
        Value yes
        Value no
    question(name="Q22" text="22. Which medications is the claimant taking?")
      table
        tr
          th Medication
          th Dosage
          th Effectiveness
        tr.table-row-model
          td
            Autocomplete(name="MEDICATION" values="meds")
          td
            TextBox(name="DOSAGE")
          td
            RadioSet(name="EFFECTIVENESS")
              Value good
              Value minimal
              Value poor
        tr
          td(colspan=3 text-align="right")
            a.table-new-row New Row ...

section#Past-Psychiatric-History
  section_text Past Psychiatric History
  question(name="Q29" text="29. Has the claimant ever been admitted to a psychiatric hospital?")
    label.radio.checkbox_enabler: input(type="radio" name="Q29" data-selector=".29_no") no
    / (disable the rest of this section)
    label.radio.checkbox_enabler: input(type="radio" name="Q29" data-selector=".29_yes") yes
    / (enable 30,31,31a, and 31b)
  group.29_yes
    question(name="Q30" text="30. If yes, what was the date of the last admittance? Please enter in this format: Month Year.")
      TextBox
    question(name="Q31" text="31. What was the reason for the admittance?")
      TextBox
    question(name="Q31A" text="31A. What treatment did the claimant receive while admitted?")
      TextBox
    question(name="Q31B" text="31B. What was the claimant’s response to the treatment?")
      TextBox

section#Alcohol-and-Drug-Abuse
  section_text Alcohol and Drug Abuse
  question(name="QA32" text="A32. Has the claimant ever abused alcohol, tobacco, or illicit substances?")
    label.radio.checkbox_enabler: input(type="radio" name="QA32" data-selector=".A32_no") no
    / (disable the rest of this section)
    label.radio.checkbox_enabler: input(type="radio" name="QA32" data-selector=".A32_yes") yes
    / (enable A33-A36a, A189)
  group.A32_yes
    question(name="A33" text="A33. If yes, what is the substance? Select all that apply.")
      CheckboxSet
        Value Alcohol
        Value Marijuana
        Value Cocaine
        Value Heroin
        Value Methamphetamines
        Value Tobacco
        ValueOther Other
    question(name="QA34" text="A34. On what date did claimant first use the substance? Please enter in this format: Month Year.")
      TextBox
    question(name="QA34A" text="A34A. On what date did the claimant begin to use the substance abusively? Please enter in this format: Month Year.")
      TextBox
    question(name="QA35" text="A35. What is the number of days that the claimant used the substance?")
      TextBox
    question(name="QA35A" text="A35A. During the claimant’s worst abusive period, how much of the substance was consumed per day?")
      TextBox
    question(name="QA36" text="A36. Is the substance abuse still occurring?")
      RadioSet
        Value no
        Value yes
    question(name="QA36A" text="A36A. If no, how long has the claimant been ‘clean?’")
      TextBox
      text Programmer: Repeat questions 34, 34a, 35, 35a, 36, and 36a for each substance selected in question 33
    question(name="QA189" text="A189. Did the claimant appear to be under the influence of drugs or alcohol?")
      RadioSet
        Value yes
        Value no

section#Past-Medical-History
  section_text Past Medical History
  question(name="Q23" text="23. Has the claimant ever sustained a major head injury?")
    RadioSet
      Value no
      Value(enables-selector=".23_yes") yes
      / (enable 24, 25, 26, 26a)
  group.23_yes
    question(name="Q24" text="24. If yes, did the claimant experience a lack of consciousness, feel dazed, or see stars?")
      RadioSet
        Value no
        Value yes
    question(name="Q25" text="25. What is the date of the injury? Please enter in this format: Month Year.")
      TextBox
    question(name="Q26" text="26. Was the claimant treated at a hospital?")
      RadioSet
        Value no
        Value(enables-selector=".26_yes") yes
    question.26_yes(name="Q26A" text="26A. If yes, what is the name of the hospital?")
      TextBox

  question(name="Q27" text="27. List any previous surgeries. If none, enter “None reported.”")
    TextBox
  question(name="Q28" text="28. List any medical conditions.")
    text Select any of the following common medical conditions or write-in another option.
    CheckboxSet
      Value Allergies
      Value Arthritis
      Value Asthma
      Value Back Pain
      Value Cancer
      Value Chest Pains
      Value Chronic Pain
      Value Degenerative Disc Disease
      Value Diabetes
      Value Digestive Problems
      Value Fibromyalgia
      Value Headaches
      Value Heart Disease
      Value Hepatitis
      Value High Blood Pressure
      Value Joint Problems
      Value Lung Disease
      Value Muscle Problems
      Value Thyroid Disease
      Value Urinary Tract Problems
      ValueOther Other
      Value None Reported

section#Social-and-Family-History
  section_text Social and Family History
  question(name="QA37" text="A37. What is the claimant’s current relationship status?")
    CheckboxSet
      Value Single, not in a committed relationship
      Value(enables-selector=".37_committed") In a committed relationship
      / (show A38)
      Value(enables-selector=".37_committed") Married
      / (show A38)
      Value Divorced
      Value Getting a divorce
      ValueOther Other
  question.37_committed(name="QA38" text="A38. If applicable, how is the relationship?")
    RadioSet
      Value good
      Value fair
      Value poor
  question(name="QA39" text="A39. Does the claimant have children?")
    RadioSet
      Value(enables-selector=".39_yes") yes
      / (enable A40)
      Value no
  question.39_yes(name="QA40" text="A40. If yes, how old?")
    TextBox
  question(name="QA41" text="A41. If claimant has deceased children, please provide details.")
    TextBox
  question(name="Q42" text="42. What is the claimant’s living situation?")
    RadioSet
      Value Apartment
      Value Home
      Value Trailer
      Value Public Housing
      Value Homeless
  question(name="Q42A" text="42A. Does the claimant live alone?")
    RadioSet
      Value lives alone
      ValueOther.prepend lives with
  question(name="Q42B" text="42B. In what city does the claimant currently reside? Include state abbreviation.")
    TextBox
  question(name="Q43" text="43. Does the family have a history of mental illness?")
    RadioSet
      Value no family history of mental illness
      ValueOther family has a history of
  question(name="Q45" text="45. Was there a history of child abuse?")
    RadioSet
      Value no
      Value(enables-selector=".45_yes") yes
      / (enable 46 and 47)
  group.45_yes
    question(name="Q46" text="46. If yes, what was the nature of the conflict?")
      TextBox
    question(name="Q47" text="47. Is the trauma resolved?")
      RadioSet
        Value no
        Value yes

section#Employment-History
  section_text Employment History
  question(name="QA52" text="A52. Is the claimant currently employed?")
    RadioSet
      Value(enables-selector=".52_yes") Yes
      / (enable A54-A56, and A186)
      Value(enables-selector=".52_no") No
      / (enable A53-A56 and A184, A186)
      Value(enables-selector=".52_never") The claimant has no employment history.
      / (enable A53 and A184)
  group.52_no
    question(name="QA53" text="A53. If no, is the claimant currently looking for work?")
      RadioSet
        Value no
        Value yes
    question(name="QA184" text="A184. How you would describe the claimant’s attitude regarding seeking employment?")
      RadioSet
        Value positive
        Value negative

  group.52_yes.52_no
    question(name="QA55" text="A55. Please list all the jobs the claimant has held down.")
      table
        tr
          th Start Date
          th End Date
          th Employer
          th Position
          th Reason for Leaving
        tr.table-row-model
          td: TextBox(name="START" placeholder="mm/dd/yyyy")
          td: TextBox(name="END" placeholder="mm/dd/yyyy")
          td: TextBox(name="EMPLOYER")
          td: TextBox(name="POSITION")
          td: TextBox(name="REASON")
        tr
          td(colspan=5 text-align="right")
            a.table-new-row New Row ...

    question(name="QA186" text="A186. What is the claimant’s work history?")
      RadioSet
        Value good
        Value limited
        Value no reported work history
    question(name="QA56" text="A56. What are the reasons for the periods of unemployment?")
      TextBox

section#Educational-History
  section_text Educational History
  question(name="Q48" text="48. What was the last education level completed?")
    TextBox
  question(name="Q49" text="49. What was the claimant’s academic performance?")
    RadioSet
      Value Above average
      Value Average
      Value Below average
  question(name="Q49A" text="49A. Please provide any additional relevant information about claimant’s academic performance.")
    TextBox
  question(name="Q50" text="50. Was the claimant enrolled in special education?")
    RadioSet
      Value no
      Value(enables-selector="50_yes") yes
      / (enable 51)
  question.50_yes(name="Q51" text="51. If yes, what were the subjects?")
    TextBox


section#Legal-Criminal-History
  section_text Legal / Criminal History
  question(name="QA57" text="A57. Has the claimant ever been arrested?")
    RadioSet
      Value(enables-selector="A57_yes") yes
      / (enable A57a-A60a)
      Value no
      / (disable the rest of this section)
  group.A57_yes
    question(name="QA57A" text="A57A. If yes, what was the arrest for?")
      TextBox
    question(name="QA58" text="A58. If yes, what was the date of the last arrest? Please enter in this format: Month Year.")
      TextBox
    question(name="QA59" text="A59. What was the outcome of the arrest?")
      TextBox
    question(name="QA60" text="A60. Has the claimant ever been incarcerated?")
      RadioSet
        Value(enables-selector="A60_yes") yes
        Value no
    question.A60_yes(name="QA60A" text="A60A. If yes, how long was the incarceration?")
      TextBox


section#Military-History
  section_text Military History
  question(name="QA61" text="A61. Has the claimant served in the military?")
    RadioSet
      Value(enables-selector="A61_yes") yes
      / (enable A62-A64)
      Value no
      / (disable the rest of this section)
  group.A61_yes
    question(name="QA62" text="A62. If yes, what are the dates of service?")
      TextBox to
      TextBox.
    question(name="QA63" text="A63. What was the claimant’s highest rank?")
      TextBox
    question(name="QA63A" text="A63A. Did the claimant receive any medals and/or ribbons?")
      RadioSet
        Value yes
        Value no
    question(name="QA63B" text="A63B. Was any disciplinary action (Article 15, Captain’s Mast) taken?")
      RadioSet
        Value yes
        Value no
    question(name="QA63C" text="A63C. Was the claimant honorably discharged?")
      RadioSet
        Value yes
        Value no
    question(name="QA64" text="A64. Was the claimant deployed?")
      RadioSet
        Value yes
        Value no

section#Mental-Status-Examination
  section_text Mental Status Examination - General Appearance
  question(name="Q65" text="65. In relation to stated age, how did the claimant appear?")
    RadioSet
      Value Older
      Value The Same Age
      Value Younger
  question(name="Q66" text="66. How was the claimant’s hygiene?")
    RadioSet
      Value Good
      Value Fair
      Value Poor
  question(name="Q66A" text="66A. Was the claimant groomed or unkempt?")
    RadioSet
      Value Groomed
      Value Unkempt
  question(name="Q67" text="67. In relation to height, what was the claimant’s build?")
    RadioSet
      Value Obese
      Value Overweight
      Value Average
      Value Slender
      Value Underweight
      ValueOther Other
  question(name="Q68" text="68. How was the claimant’s eye contact?")
    RadioSet
      Value Good
      Value Fair
      Value Poor
  question(name="Q69" text="69. With respect to the material’s content, how were the claimant’s facial expressions?")
    RadioSet
      Value Appropriate
      Value Inappropriate
      Value Nonexistent
  question(name="Q70" text="70. Were the claimant’s clothes presentable?")
    RadioSet
      Value yes
      Value no
  question(name="Q71" text="71. Describe the clothing.")
    TextBox
  question(name="Q72" text="72. Was the clothing appropriate for the weather?")
    RadioSet
      Value yes
      Value no
  question(name="Q73" text="73. Was evidence of psychomotor agitation present?")
    RadioSet
      Value no
      / (disable 73a)
      Value(enables-selector=".73_yes") yes
      / (enable 73a)
  question.73_yes(name="Q73A" text="73A. If yes, please provide examples.")
    TextBox
  question(name="Q73B" text="73B. Was evidence of psychomotor retardation present?")
    RadioSet
      Value no
      / (disable 73c)
      Value(enables-selector="73B_yes") yes
      / (enable 73c)
  question.73B_yes(name="Q73C" text="73C. If yes, please provide examples.")
    TextBox

  section_text Mental Status Examination - Attitude &amp; Behavior
  question(name="Q10" text="10. How was the claimant during the interview?")
    RadioSet
      Value Cooperative
      Value Difficult
      Value Belligerent
  question(name="Q74" text="74. Was the claimant’s behavior pleasant?")
    RadioSet
      Value yes
      Value no
    section_text DELETE #75.
  question(name="Q76" text="76. Describe the claimant’s attitude?")
    RadioSet
      Value Positive
      Value Negative
  question(name="Q77" text="77. Was there evidence of malingering or factitious behavior?")
    RadioSet
      Value(enables-selector="77_yes") yes
      / (enable 77a)
      Value no
      / (disable 77a)
  question.77_yes(name="Q77A" text="77A. If yes, please describe.")
    TextBox

  section_text Mental Status Examination - Mood / Affect
  question(name="Q88" text="88. What is claimant’s current mood?")
    TextBox
  question(name="Q89" text="89. Was the claimant’s affect consistent with stated mood?")
    RadioSet
      Value yes
      / (disable 90)
      Value(enables-selector=".89_no") no
      / (enable 90)
  question.89_no(name="Q90" text="90. If no, how did the claimant appear?")
    TextBox
  question(name="Q91" text="91. Regarding sleep, what does the claimant say? Select all that apply.")
    CheckboxSet
      Value No problems
      Value Difficulty falling asleep
      Value Difficulty staying asleep
      Value Sleeping too much
      Value Persistent nightmares
      ValueOther Other
  question(name="Q92" text="92. Regarding appetite, what does the claimant say? Select all that apply.")
    CheckboxSet
      Value No problems
      Value Lack of appetite
      Value Easily forgets meals
      Value Often over eats
      ValueOther Other

  section_text Mental Status Examination - Content of Thought
  question(name="Q82" text="82. Does the claimant have auditory hallucinations?")
    RadioSet
      Value(enables-selector=".82_yes") yes
      / (enable 83)
      Value no
      / (disable 83)
  question.82_yes(name="Q83" text="83. If yes, describe hallucinations.")
    TextBox
  question(name="Q84" text="84. Does the claimant have visual, tactile, or olfactory hallucinations?")
    RadioSet
      Value(enables-selector=".84_yes") yes
      / (enable 85)
      Value no
      / (disable 85)
  question.84_yes(name="Q85" text="85. If yes, describe hallucinations.")
    TextBox
  question(name="Q86" text="86. Does the claimant have suicidal ideations?")
    RadioSet
      Value(enables-selector=".86_yes") yes
      / (enable 86a)
      Value no
      / (disable 86a)
  question.86_yes(name="Q86A" text="86A. If yes, please provide details.")
    TextBox
  question(name="Q86B" text="86B. Does the claimant have homicidal ideations?")
    RadioSet
      Value(enables-selector=".86B_yes") yes
      / (enable 86c)
      Value no
      / (disable 86c)
  question.86B_yes(name="Q86C" text="86C. If yes, please provide details.")
    TextBox
  question(name="Q87" text="87. Does the claimant have delusions?")
    RadioSet
      Value(enables-selector=".87_yes") yes
      / (enable 87a)
      Value no
      / (disable 87a)
  question.87_yes(name="Q87A" text="87A. If yes, please provide details.")
    TextBox

  section_text Mental Status Examination - Stream of Mental Activity / Speech
  question(name="Q78" text="78. Was the claimant’s speech logical and coherent?")
    RadioSet
      Value yes
      / (disable 78a)
      Value(enables-selector=".87_no") no
      / (enable 78a)
  question.87_no(name="Q78A" text="78A. If no, please describe.")
    TextBox
  question(name="Q79" text="79. Describe the articulation.")
    RadioSet
      Value Clear
      Value Distorted
      Value Garbled
  question(name="Q80" text="80. Describe the speech velocity.")
    RadioSet
      Value High
      Value Normal
      Value Low
  question(name="Q81" text="81. Describe the speech volume.")
    RadioSet
      Value High
      Value Normal
      Value Low

section#Intellectual-Functioning-Sensorium
  section_text Intellectual Functioning / Sensorium - Orientation
  question(name="Q93" text="93. How was the claimant orientated?")
    RadioSet
      Value None
      Value(enables-selector=".93_yes") x1
      / (enable 94-96)
      Value(enables-selector=".93_yes") x2
      / (enable 94-96)
      Value x3
    / If needed, complete the additional questions to provide more information.
    / OPTIONAL: Only complete if needed for clarification
  group.93_yes
    question(name="Q94" text="94. Was the claimant orientated to person?")
      RadioSet
        Value yes
        ValueOther.prepend no,
    question(name="Q95" text="95. Was the claimant orientated to place?")
      RadioSet
        Value yes
        ValueOther.prepend no,
    question(name="Q96" text="96. Was the claimant orientated to time?")
      RadioSet
        Value yes
        ValueOther.prepend no,

  group.enable-complex.enable-psych-mem.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Psychological Testing
    question(name="Q98" text="98. Which tests did the claimant take? Select all that apply.")
      text Intellectual Ability (98a)
      CheckboxSet
        Value Wechsler Adult Intelligence Scale (WAIS-IV)
        Value Woodcock Johnson III
        Value Test of Nonverbal Intelligence (TONI-III)
        Value Leiter International Performance Scale- Revised (Leiter-R)
        Value Stanford Binet Intelligence Test
        Value Raven Progressive Matrices
        Value Leiter International Scale
        Value DELETE THIS OPTION-Wechsler Intelligence Scale for Children (WISC-IV)
        text Memory Functioning (98b)
        Value Wechsler Memory Scale (WMS-IV)
        Value Rey 15 Item Recognition Test
        text Neuropsychological Tests (98c)
        Value Trail Making A and B
        Value Halstead-Reitan
        Value Luria-Nebraska
    question(name="Q99" text="99. Describe the claimant’s testing behaviors.")
      TextBox

  group.enable-psych-only.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Preperations for Memory Questions
    question
      text * Please repeat these objects *
      text LAMP, WATCH, and PEN
      text * Remember them! *
      text Check the box below to begin a 5-minute timer.
      button(type="button") Start Timer (5 minutes)

  group.enable-complex.enable-psych-mem
    section_text Intellectual Functioning / Sensorium - Memory Index Scores
    question(name="Q112" text="112. Please paste table of index scores from memory testing.")
      TextBox

    question(name="Q113" text="113. Please paste table of subtest scores from memory testing.")
      TextBox
    question(name="Q114" text="114. Comments regarding this claimant’s performance on the memory testing.")
      TextBox
    question(name="Q116" text="116. Regarding the claimant’s Delayed and Immediate Memory scores, please rate abilities. Please select all that apply.")
      CheckboxSet
        Value very superior
        Value superior
        Value high average
        Value average
        Value low average
        Value borderline
        Value extremely low
        Value consistent
        Value inconsistent

  group.enable-psych-only.enable-psych-intel
    text Remote Memory
    question(name="Q121" text="121. Did the claimant remember autobiographical history and past events?")
      RadioSet
        Value yes
        Value no

    text Recent Memory
    question(name="Q122" text="122. How many objects did the claimant remember after 5-minutes?")
      RadioSet
        Value 0
        Value 1
        Value 2
        Value 3

    text Immediate Memory
    question(name="Q123" text="123. How many digits did the claimant remember forward and backward?")
      table
        tr
          th Digits Forward
          th Last level completed?
          th Digits Backward
          th Last level completed?
        tr
          td 3-8-4-9
          td: label.radio: input(type="radio" name="FORWARD" value=4) correct?
          td 7-9-2
          td: Checkbox correct?
        tr
          td 6-7-4-3-1
          td: label.radio: input(type="radio" name="FORWARD" value=5) correct?
          td 6-5-1-3
          td: Checkbox correct?
        tr
          td 2-4-8-5-9-3
          td: label.radio: input(type="radio" name="FORWARD" value=6) correct?
          td 1-8-5-7-9
          td: Checkbox correct?
        tr
          td 4-7-9-3-1-2-8
          td: label.radio: input(type="radio" name="FORWARD" value=7) correct?
          td 2-4-8-1-3-7
          td: Checkbox correct?

    question(name="Q123B" text="123B. Given the claimant’s performance on these tasks, please rate their overall memory functions.")
      RadioSet
        Value poor
        Value fair
        Value good
        Value limited

  group.enable-complex.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Intellectual Functioning Index Scores
    question(name="Q100" text="100. Please paste table of index scores from intellectual testing.")
      TextBox
    question(name="Q101" text="101. Please paste table of subtest scores from intellectual testing.")
      TextBox
    question(name="Q102" text="102. Comments regarding this claimant’s performance on the intellectual testing.")
      TextBox
    question(name="Q200" text="200. What level is the claimant’s verbal comprehension skills (VCI)?")
      RadioSet
        Value very superior
        Value superior
        Value high average
        Value average
        Value low average
        Value borderline
        Value extremely low

  group.enable-psych-only.enable-psych-mem
    question(name="Q110" text="110. What is the claimant’s level of intellectual functioning?")
      RadioSet
        Value Above average
        Value Average
        Value Below average

  group.enable-complex.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Concentration
    question(name="Q135" text="135. What level is the claimant’s working memory as indicated by the intelligence assessment?")
      RadioSet
        Value very superior
        Value superior
        Value high average
        Value average
        Value low average
        Value borderline
        Value extremely low
    question(name="Q135A" text="135A. What is the index score for this assessment section?")
      TextBox

  group.enable-psych-only.enable-psych-mem
    section_text Intellectual Functioning / Sensorium - Concentration
    text INSTRUCTIONS: Three-step commands
    text Ask “Which hand is your dominant hand?”
    text Then state: Before you touch the top of your head with your dominant hand; first touch your left knee and then clap three times.”
    text If they fail that prompt then use:  “After you touch your left knee and clap three times, touch the top of your head.”
    text Note how many repetitions, if any.
    text If you use the second one, note that claimant needed “2 repetitions and modification of instructions.”
    question(name="Q136" text="136. Was the claimant able to complete 3-step commands?")
      RadioSet
        Value yes, with no repetitions
        Value yes, with one repetition
        Value yes, with two repetitions
        Value yes, with two repetitions and modification of the instructions
        Value no even after several repetitions

    section_text Intellectual Functioning / Sensorium - Spelling
    question(name="Q137" text="137. Was the claimant able to spell WORLD forward?")
      RadioSet
        Value yes
        Value no
    question(name="Q138" text="138. Was the claimant able to spell WORLD backward?")
      RadioSet
        Value yes
        Value no

  group.enable-complex.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Fund of Knowledge / Information
    question(name="Q125" text="125. What level is the claimant’s fund of knowledge as seen in the subtest Information?")
      RadioSet
        Value very superior
        Value superior
        Value high average
        Value average
        Value low average
        Value borderline
        Value extremely low
    question(name="Q126" text="126. What is the core test’s scaled score?")
      TextBox
 
  group.enable-psych-only.enable-psych-mem
    question(name="Q127" text="127. Is the claimant’s fund of knowledge consistent with education level and background?")
      RadioSet
        Value yes
        Value no
    question(name="Q128" text="128. Is the claimant aware of current events?")
      RadioSet
        Value yes
        Value limited
        Value no
    question(name="Q129" text="129. Which of the following was the claimant able to answer correctly?")
      CheckboxSet(rollup="sum")
        Value What is the current president of the United State of America?
        Value What is the capital of this state?
        Value Who is the governor of this state?
        Value Which states border this state?
        Value How many eggs are in one dozen?
        Value Why do we put food in the refrigerator?

  group.enable-complex.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Calculations
    question(name="Q131" text="131. What level is the claimant’s ability to solve basic mathematical problems?")
      RadioSet
        Value very superior
        Value superior
        Value high average
        Value average
        Value low average
        Value borderline
        Value extremely low
    question(name="Q132" text="132. What is this core test’s scaled score?")
      TextBox

  group.enable-psych-only.enable-psych-mem
    question(name="Q133" text="133. Please ask the following questions and check the Correct Answer box if answered correctly.")
      CheckboxSet(rollup="sum")
        Value $9 + $7 = ? (Correct Answer: $16)
        Value $23 – $10 = ? (Correct Answer: $13)
        Value $11 x 10 = ? (Correct Answer: $110)
        Value $9  3 = ? (Correct Answer: $3)
        Value 47c + 10c = ? (Correct Answer: 57c)

    text Begin at 100 and subtract 7, and keep going until I say stop.
    table
      tr
        th Series
        th Answer
      tr
        td Serial 7’s
        td Correct Answer: 100-93-86-79-72-65-58-51-44-37-30-23-16-9-2
      tr
        td Serial 3’s
        td Correct Answer: 100-97-94-91-88-85-82-79-76-73-70-67-64-61-…
    question(name="Q133A" text="133A. Was the claimant able to execute serial-7’s?")
      RadioSet
        Value yes
        Value yes, but made a few errors
        Value no, the claimant completed serial-3’s accurately
        Value no, the claimant was unable to execute serial-7s or serial-3

    section_text Intellectual Functioning / Sensorium - Word Problems
    question(name="Q133B" text="133B. Was the claimant able to answer the following word problems?")
      CheckboxSet(rollup="sum")
        Value T-shirts are generally priced $5 each, but today, they are on sale.  T-shirts are priced 2 for $9, how much would 6 t-shirts cost? (Correct Answer: $27)
        Value A pack of chewing gum cost 99 cents.  There are 25 pieces of chewing gum in a pack.  How many pieces of gum are in six packs? (Correct Answer: 150)

  group.enable-complex.enable-psych-intel
    section_text Intellectual Functioning / Sensorium - Abstract Thinking
    question(name="Q144" text="144. What level is the claimant’s ability to think abstractly (Similarities)?")
      RadioSet
        Value very superior
        Value superior
        Value high average
        Value average
        Value low average
        Value borderline
        Value extremely low
    question(name="Q145" text="145. What is the scaled score for this test?")
      TextBox
  
  group.enable-psych-only.enable-psych-mem
    text For the next four questions, the correct answer is provided; however, score similar responses appropriately.
    question(name="Q142" text="142. What does the proverb, “Time is golden,” mean?")
      CheckboxSet
        Value Correct Answer: Precious.
    question(name="Q142A" text="142A. What does the proverb, “Rome was not built in a day,” mean?")
      CheckboxSet
        Value Correct Answer: Major growth takes time.
    question(name="Q146" text="146. What are the similarities and differences of “a boat and a car “?")
      CheckboxSet
        Value Correct Answer: Both are transportation, but one is for water and the other land.
    question(name="Q146A" text="146A. What are the similarities and differences of “a pen and a pencil”?")
      CheckboxSet
        Value Correct Answer: Both are writing instruments, but one has ink and the other graphite or lead.
    question(name="Q146B" text="146B. Automatically generated.")

  section_text Intellectual Functioning / Sensorium - Judgement and Insight
  question(name="Q147" text="147. What is the claimant’s insight into own condition?")
    RadioSet
      Value Good
      Value Fair
      Value Limited
      Value Impaired
    text For the next two questions, the correct answer is provided; however, score similar responses appropriately.
  question(name="Q150" text="150. What would the claimant do if the claimant smelled smoke in a crowded movie theater?")
    RadioSet
      Value Correct Answer: Alert local authorities.
      ValueOther.prepend Incorrect Answer:
  question(name="Q151" text="151. What would the claimant do if the claimant found a lost purse in a store?")
    RadioSet
      Value Correct Answer: Turn in the purse to a store manager.
      ValueOther.prepend Incorrect Answer: 
  question(name="Q152" text="152. Automatically generated.")

  group.enable-complex.enable-psych-mem
    section_text Intellectual Functioning / Sensorium - Neuropsychological Tests
    question(name="Q149" text="149. Trail Making Tests")
      p The following is a chart containing the norms for this Trail making A &amp; B test. Please use the data to fill in the rows on the table for question 149. The numbers listed are in seconds.
      table
        tr
          th(colspan=1) Percent.
          th(colspan=2) Ages 20-39
          th(colspan=2) Ages 40-49
          th(colspan=2) Ages 50-59
          th(colspan=2) Ages 60-69
          th(colspan=2) Ages 70-79
        tr
          th Trails
          th A
          th B
          th A
          th B
          th A
          th B
          th A
          th B
          th A
          th B
        tr
          th 90
          td 21
          td 45
          td 22
          td 49
          td 25
          td 55
          td 29
          td 64
          td 38
          td 79
        tr
          th 75
          td 26
          td 55
          td 28
          td 57
          td 29
          td 75
          td 35
          td 89
          td 54
          td 132
        tr
          th 50
          td 32
          td 69
          td 34
          td 78
          td 38
          td 98
          td 48
          td 119
          td 80
          td 196
        tr
          th 25
          td 42
          td 94
          td 45
          td 100
          td 49
          td 135
          td 67
          td 172
          td 105
          td 292
        tr
          th 10
          td 50
          td 129
          td 59
          td 151
          td 67
          td 177
          td 104
          td 282
          td 168
          td 450
      p
      table
        tr
          th(colspan=5) TRAIL MAKING TESTS
        tr
          th Trails
          th Seconds
          th Errors
          th Percentile Range
          th Functioning
        tr
          th TRAIL A
          td: TextBox(name="A1")
          td: TextBox(name="A2")
          td: TextBox(name="A3")
          td: TextBox(name="A4")
        tr
          th TRAIL B
          td: TextBox(name="B1")
          td: TextBox(name="B2")
          td: TextBox(name="B3")
          td: TextBox(name="B4")

    question(name="Q302" text="302. Please discuss the findings of any neuropsychological testing administered.")
      TextBox
    
    section_text Intellectual Functioning / Sensorium - Additional Psychological Assessments
    question(name="Q303" text="303. Please select any additional testing that was requested an administered. Select all that apply.")
      text Personality and Behavior Assessments
      CheckboxSet
        Value Vineland Adaptive Behavior Scale
        Value MMPI-2-RF
        Value Rorschach
        Value MCMI
    question(name="Q304" text="304. If a test is selected, please discuss the result here.")
      TextBox
    question(name="Q305" text="305. Please select any additional testing that was requested an administered. Select all that apply.")
      text Malingering Measures
      CheckboxSet
        Value Test of Malingering Memory (TOMM)
        Value Structured Interview of Malingering Symptoms (SIMS)
        Value Miller Forensic Assessment of Symptoms Test (M-FAST)
        Value Portland Digit Symbol Test
        Value Validity Indicator Profile (VIP)
    question(name="Q306" text="306. If a test is selected, please discuss the result here.")
      TextBox

section#Current-Level-of-Functioning
  section_text Current Level of Functioning - Activities of Daily Living
  question(name="Q153" text="153. What is the claimant’s typical day like?")
    TextBox
  question(name="QA154" text="A154. Which tasks does the claimant do alone? Select all that apply.")
    CheckboxSet
      Value Cooking
      Value Grocery shop
      Value Self-care
      Value Laundry
      Value None
  question(name="QA155" text="A155. Which tasks do the claimant require help to do? Select all that apply.")
    CheckboxSet
      Value Cooking
      Value Grocery shop
      Value Self-care
      Value Laundry
      Value None
  question(name="QA155A" text="A155A. Who helps with these tasks?")
    TextBox
  question(name="Q156" text="156. Is the claimant able to complete ADLs efficiently?")
    RadioSet
      Value yes
      ValueOther no,
  question(name="QA156A" text="A156A. Is the claimant able to handle personal funds?")
    RadioSet
      Value yes
      Value(enables-selector=".156A_no") no
      / (show A156a)
  question.156A_no(name="QA156B" text="A156B. If no, who handles this for the claimant?")
    TextBox

  section_text Current Level of Functioning - Social Functioning
  question(name="QA157" text="A157. Does the claimant have social friends?")
    RadioSet
      Value(enables-selector=".A157_no") no
      / (enable A157a)
      ValueOther(enables-selector=".A157_yes") yes, the number of social friends is
  question.A157_no(name="QA157A" text="A157A. If no, is the claimant isolated from people?")
    RadioSet
      Value yes
      Value no
  question.A157_yes(name="QA157B" text="A157B. If yes, please add detail.")
    TextBox

  question(name="Q158" text="158. Is the claimant a member of an organized group?")
    RadioSet
      Value no
      Value yes
  question(name="Q159" text="159. Does the claimant participate in recreational activities?")
    RadioSet
      Value yes
      Value no
  question(name="Q159A" text="159A. Is a house of worship regularly attended?")
    RadioSet
      Value yes
      Value no
  question(name="Q160" text="160. Does the claimant have a history of violence?")
    RadioSet
      Value(enables-selector=".160_yes") yes
      / (enable 160a)
      Value no
  question.160_yes(name="Q160A" text="160A. If yes, please describe?")
    TextBox
  question(name="Q181" text="181. How is the claimant’s support system?")
    RadioSet
      Value Good
      Value Fair
      Value Limited
      Value Poor
  question(name="Q181A" text="181A. Who is included in the support system?")
    TextBox
  question(name="Q299" text="299. How are the claimant’s social and interpersonal relationships?")
    RadioSet
      Value good
      Value fair
      Value poor
  question(name="Q300" text="300. Did the claimant act appropriately with the provider and office staff?")
    RadioSet
      Value yes
      Value(enables-selector=".300_no") no
      / (enable 301)
  question.300_no(name="Q301" text="301. Please explain any inappropriate behavior.")
    TextBox

  section_text Current Level of Functioning - Concentration, Persistance, and Pace
  question(name="QA161" text="A161. Please provide the length of time (in minutes) the claimant participates in the following activities per day. Also, enter one of the claimant’s hobbies and the length of time the claimant can sustain the activity. If duration is listed, please provide a unit of time.")
    table
      tr
        th Activity
        th Remarks
        th Activity
        th Remarks
      tr
        td Reading
        td: TextBox
        td Watch TV
        td: TextBox
      tr
        td Walking
        td: TextBox
        td Driving
        td: TextBox
      tr
        td Standing
        td: TextBox
        td Cooking
        td: TextBox
      tr
        td Computer
        td: TextBox
        td Laundry
        td: TextBox
      tr
        td Hobby
        td: TextBox
        td Grocery shopping
        td: TextBox

  section_text Current Level of Functioning - Decompensation and Deterioration
  question(name="Q167" text="167. Is there evidence of deterioration and decompensation in the work place? For children, this would read “in school?”")
    RadioSet
      Value(enables-selector=".167_yes") yes
      / (enable 168)
      Value no
      / (disable 168)
  question.167_yes(name="Q168" text="168. If yes, where is the deterioration and decompensation seen or evidenced by?")
    CheckboxSet
      Value Voluntary psychiatric commitment
      Value Difficulty getting along with coworkers
      Value Taking a leave of absence to manage mental illness
      Value Frequent involvement with law enforcement
      Value Behavioral disturbances
      ValueOther Other
  question(name="Q169" text="169. Has the claimant’s ability to work been impacted by physical and mental limitations?")
    RadioSet
      Value yes
      Value no
  question(name="Q170" text="170. What are the new difficulties reported by claimant? Select all that apply.")
    CheckboxSet
      Value Sustaining concentration and attention
      Value Remembering information
      Value Making good judgments at work
      Value Following multi-step directions
      Value Socializing with friends
      Value Motivation
      Value Fatigue
      Value Apathy
      Value Behavioral problems
      Value Insomnia
      Value Poor appetite
      Value Inability to complete ADLS in a timely manner
      Value Suicidal ideations
      Value Hallucinations
      Value Delusions
      Value Blurred vision
      Value Lower back pain
      ValueOther Other

section#DSM-IV-Diagnosis
  section_text DSM-IV Diagnosis
  question(name="Q162" text="162. What is the claimant’s Axis I diagnosis? Select all that apply.")
    CheckboxSet
      Value DELETE-Bipolar I Disorder
      Value 290.10 Dementia of the Alzheimer's Type, With Early Onset, Uncomplicated
      Value 290.11 Dementia of the Alzheimer's Type, With Early Onset, With Delirium
      Value 290.12 Dementia of the Alzheimer's Type, With Early Onset, With Delusions
      Value 290.13 Dementia of the Alzheimer's Type, With Early Onset, With Depressed Mood
      Value 290.20 Dementia of the Alzheimer's Type, With Late Onset, With Delusions
      Value 290.21 Dementia of the Alzheimer's Type, With Late Onset, With Depressed Mood
      Value 290.3 Dementia of the Alzheimer's Type, With Late Onset, With Delirium
      Value 296.80 Bipolar Disorder NOS
      Value 296.56 Bipolar I Disorder, most recent episode depressed, in full remission
      Value 296.55 Bipolar I Disorder, most recent episode depressed, in partial remission
      Value 296.51 Bipolar I Disorder, most recent episode depressed, mild
      Value 296.52 Bipolar I Disorder, most recent episode depressed, moderate
      Value 296.53 Bipolar I Disorder, most recent episode depressed, severe without psychotic features
      Value 296.54 Bipolar I Disorder, most recent episode depressed, severe with psychotic features
      Value 296.50 Bipolar I Disorder, most recent episode depressed, unspecified
      Value 296.40 Bipolar I Disorder, most recent episode hypomanic
      Value 296.46 Bipolar I Disorder, most recent episode manic, in full remission
      Value 296.45 Bipolar I Disorder, most recent episode manic, in partial remission
      Value 296.41 Bipolar I Disorder, most recent episode manic, mild
      Value 296.42 Bipolar I Disorder, most recent episode manic, moderate
      Value 296.43 Bipolar I Disorder, most recent episode manic, severe without psychotic features
      Value 296.44 Bipolar I Disorder, most recent episode manic, severe with psychotic features
      Value 296.40 Bipolar I Disorder, most recent episode manic, unspecified
      Value 296.66 Bipolar I Disorder, most recent episode mixed, in full remission
      Value 296.65 Bipolar I Disorder, most recent episode mixed, in partial remission
      Value 296.61 Bipolar I Disorder, most recent episode mixed, mild
      Value 296.62 Bipolar I Disorder, most recent episode mixed, moderate
      Value 296.63 Bipolar I Disorder, most recent episode mixed, severe without psychotic features
      Value 296.64 Bipolar I Disorder, most recent episode mixed, severe with psychotic features
      Value 296.60 Bipolar I Disorder, most recent episode mixed, unspecified
      Value 296.7 Bipolar I Disorder, most recent episode unspecified
      Value 296.06 Bipolar I Disorder, single manic episode, in full remission
      Value 296.05 Bipolar I Disorder, single manic episode, in partial remission
      Value 296.01 Bipolar I Disorder, single manic episode, mild
      Value 296.02 Bipolar I Disorder, single manic episode, moderate
      Value 296.03 Bipolar I Disorder, single manic episode, severe without psychotic features
      Value 296.04 Bipolar I Disorder, single manic episode, severe with psychotic features
      Value 296.00 Bipolar I Disorder, single manic episode, unspecified
      Value 294.9 Cognitive Disorder NOS
      Value 295.20 Schizophrenia, Catatonic Type
      Value 295.10 Schizophrenia, Disorganized Type
      Value 295.30 Schizophrenia, Paranoid Type
      Value 295.60 Schizophrenia, Residual Type
      Value 295.90 Schizophrenia, Undifferentiated Type
      Value 295.70 Schizoaffective Disorder
      Value 296.20 Major Depressive Disorder, Single Episode, unspecified
      Value 296.21 Major Depressive Disorder, Single Episode, Mild
      Value 296.22 Major Depressive Disorder, Single Episode, Moderate
      Value 296.23 Major Depressive Disorder, Single Episode, Severe without psychotic features
      Value 296.24 Major Depressive Disorder, Single Episode, Severe with psychotic features
      Value 296.25 Major Depressive Disorder, Single Episode, in partial remission
      Value 296.26 Major Depressive Disorder, Single Episode, in full remission
      Value 296.30 Major Depressive Disorder, Recurrent, unspecified
      Value 296.31 Major Depressive Disorder, Recurrent, Mild
      Value 296.32 Major Depressive Disorder, Recurrent, Moderate
      Value 296.33 Major Depressive Disorder Recurrent, Severe without psychotic features
      Value 296.34 Major Depressive Disorder, Recurrent, Severe with psychotic features
      Value 296.35 Major Depressive Disorder, Recurrent, in partial remission
      Value 296.36 Major Depressive Disorder, Recurrent, in full remission
      Value 296.89 Bipolar II Disorder
      Value 299.00 Autistic Disorder
      Value 300.01 Panic Disorder without Agoraphobia
      Value 300.02 Generalized Anxiety Disorder
      Value 300.21 Panic Disorder with Agoraphobia
      Value 300.3 Obsessive-compulsive Disorder
      Value 300.4 Dysthymic Disorder
      Value 307.1 Anorexia nervosa
      Value 309.81 Posttraumatic Stress Disorder
      Value 310.2 Postconcussion Syndrome
      Value 314.00 Attention Deficit/Hyperactivity Disorder, Predominantly Inattentive Type
      Value 314.01 Attention Deficit/Hyperactivity Disorder, Combined Type
      Value 314.01 Attention Deficit/Hyperactivity Disorder, Predominantly Hyperactive-Impulsive  Type
      Value 314.9 Attention Deficit/Hyperactivity Disorder NOS
      Value 315.00 Reading Disorder
      Value 315.1 Mathematics Disorder
      Value 315.2 Disorder of Written Expression
      Value 315.9 Learning Disorder NOS
      ValueOther Other
  question(name="Q163" text="163. Axis II: Please select from the following choices.")
    CheckboxSet
      Value No diagnosis
      Value 301.0 Paranoid Personality Disorder
      Value 301.20 Schizoid Personality Disorder
      Value 301.22 Schizotypal Personality Disorder
      Value 301.7 Antisocial Personality Disorder
      Value 301.83 Borderline Personality Disorder
      Value 301.50 Histrionic Personality Disorder
      Value 301.81 Narcissistic Personality Disorder
      Value 301.82 Avoidant Personality Disorder
      Value 301.6 Dependent Personality Disorder
      Value 301.4 Obsessive-compulsive Personality Disorder
      Value 301.9 Personality Disorder NOS
      Value 317 Mild Mental Retardation
      Value 318.0 Moderate Mental Retardation
      Value 318.1 Severe Mental Retardation
      Value 318.2 Profound Mental Retardation
      Value 319 Mental retardation, severity unspecified
      Value V62.89 Borderline Intellectual Functioning
      ValueOther Other
      Value Deferred
  question(name="Q164" text="164. Axis III: Medical conditions are insert from previous question.")
  question(name="Q165" text="165. Axis IV: Please select any stressors from the following list that may contribute to an Axis IV diagnosis. Select all that apply.")
    text PROBLEMS WITH PRIMARY SUPPORT GROUP
    CheckboxSet
      Value Death of a family member
      Value Health problems in family
      Value Disruption of family by separation
      Value Disruption of family by divorce
      Value Disruption of family by estrangement
      Value Removal from the home
      Value Remarriage of parent
      Value Sexual abuse
      Value Physical abuse
      Value Parental overprotection
      Value Neglect of child
      Value Inadequate discipline
      Value Discord with siblings
      Value Birth of a sibling
    text PROBLEMS RELATED TO THE SOCIAL ENVIRONMENT
    CheckboxSet
      Value Death or loss of friend
      Value Inadequate social support
      Value Living alone
      Value Difficulty with acculturation
      Value Discrimination
      Value Adjustment to life-cycle transition
    text EDUCATIONAL PROBLEMS
    CheckboxSet
      Value Illiteracy
      Value Academic problems
      Value Discord with teachers
      Value Discord with classmates
      Value Inadequate school environment
    text OCCUPATIONAL PROBLEMS
    CheckboxSet
      Value Unemployment
      Value Threat of job loss
      Value Stressful work schedule
      Value Difficult work conditions
      Value Job dissatisfaction
      Value Job change
      Value Discord with boss
      Value Discord with co-workers
    text HOUSING PROBLEMS
    CheckboxSet
      Value Homelessness
      Value Inadequate housing
      Value Unsafe neighborhood
      Value Discord with neighbors
      Value Discord with landlord
    text ECONOMIC PROBLEMS
    CheckboxSet
      Value Extreme poverty
      Value Inadequate finances
      Value Insufficient welfare support
    text PROBLEMS WITH ACCESS TO HEALTH CARE SERVICES
    CheckboxSet
      Value Inadequate health care services
      Value Transportation to health care facilities unavailable
      Value Inadequate health insurance
    text PROBLEMS RELATED TO INTERACTION WITH THE LEGAL SYSTEM
    CheckboxSet
      Value Arrest
      Value Incarceration
      Value Litigation
      Value Victim of a crime
    text OTHER PSYCHOSOCIAL AND ENVIRONMENTAL PROBLEMS
    CheckboxSet
      Value Exposure to disasters
      Value Exposure to war
      Value Discord with non-family caregivers
      Value Discord with physician
      Value Unavailability of social services agencies
  question(name="Q165A" text="165A. Provide any additional information as needed.")
    TextBox
  question(name="Q166" text="166. Axis V: Please record the claimant’s current GAF.")
    TextBox

section#Discussion-Prognosis
  section_text Discussion / Prognosis
  question(name="Q171" text="171. Did the claimant respond in an open and honest manner?")
    RadioSet
      Value yes
      Value no
  question(name="Q172" text="172. Was there any exaggeration in the claimant’s responses?")
    RadioSet
      Value(enables-selector=".172_yes") yes
      / (show 172a)
      Value no
  question.172_yes(name="Q172A" text="172A. If yes, please describe.")
    TextBox
  question(name="Q173" text="173. Were there any inconsistencies?")
    RadioSet
      Value(enables-selector=".173_yes") yes
      / (show 174)
      Value no
  question.173_yes(name="Q174" text="174. If yes, please provide examples.")
    TextBox
  question(name="Q175" text="175. As evidenced by the claimant’s current and past compliance with treatment, is the claimant willing to receive treatment (psychotherapy or medications)?")
    RadioSet
      Value yes
      Value no
  question(name="Q180" text="180. What is the claimant’s willingness to use resources?")
    RadioSet
      Value good
      Value fair
      Value limited
      Value poor
  question(name="Q182" text="182. Is improvement likely?")
    RadioSet
      Value yes
      Value no
      Value guarded
  question(name="Q183" text="183. What is the likelihood the claimant will be able to respond to routine changes in the work place?")
    RadioSet
      Value good
      Value bad
      Value guarded

section#Capability-of-Managing-Funds
  section_text Capability of Managing Funds
  question(name="QA187" text="A187. What is the claimant’s ability to manage employment benefits?")
    RadioSet
      Value likely satisfactory
      ValueOther.prepend likely poor given
  question(name="QA188" text="A188. Does the claimant need a protective payee?")
    RadioSet
      Value yes
      Value no
