subsection#Q16A(title="Alzheimer’s Disease")
  text The development of multiple cognitive deficits manifested by both:
  CheckboxSet
    Value Memory Impairment (impaired ability to learn new information of to recall previously learned information)
    text One or more of the following cognitive disturbances:
    Value Aphasia (language disturbance)
    Value Apraxia (impaired ability to carry our motor activities despite intact motor function)
    Value Agnosia (failure to recognize or identify objects despite intact sensory function)
    Value Disturbance in executive functioning
    text The cognitive deficits in Criteria A1 and A2 each cause significant impairment in social or occupational functioning and represent a significant decline from a previous level of functioning.
    Value The course is characterized by gradual onset of continuing cognitive decline.
    text The cognitive deficits in Criteria A1 and A2 are not due to any of the following:
    text (1) Other central nervous systems, conditions that cause progressive deficits in memory and cognition (e.g., cerebrovascular disease, Parkinson’s disease, Huntington’s disease, subdural hematoma, normal-pressure hydrocephalus, brain tumor).
    text (2) Systemic conditions that are known to cause dementia (e.g., hypothyroidism, vitamin B12 or folic acid deficiency, neurosyphilis, HIV infection).
    text (3)  Substance-induced conditions.
    Value The deficits do not occur exclusively during the course of a delirium.
  text The disturbance is not better accounted for by another disorder.


subsection#Q16B(title="Anorexia")
  CheckboxSet
    Value A refusal to maintain body weight at or above a minimally normal weight for age and height.
    Value Intense fear of gaining weight or becoming fat, even though underweight.
    Value Disturbance in the way in which one’s body or shape is experienced, undue influence of body weight or shape on self-evaluation, or denial of the seriousness of the current low body weight.


subsection#Q16C(title="Anxiety Disorder")
  CheckboxSet
    Value Excessive anxiety lasting at least 6 months
    Value Difficulty controlling the anxiety
  text Select 3 or more of the following 6 items that have been present the majority of the last 6 month:
  CheckboxSet
    Value Restlessness
    Value Being easily fatigued
    Value Difficulty concentrating
    Value Irritability
    Value Muscle tension
    Value Sleep disturbance
    Value The anxiety is causing significant impairment to person’s functioning
Fq36

subsection#Q16D(title="Attention Disorder")
  text Six (6) or more of the following symptoms of inattention have persisted for at least six (6) months to a degree that is maladaptive and inconsistent with the developmental level.
  text Inattention:
  CheckboxSet
    Value Often does not give close attention to details or makes careless mistakes in schoolwork, work, or other activities.
    Value Often has trouble keeping attention on tasks or paly activities.
    Value Often does not seem to listen when spoken to directly.
    Value Often does not follow instructions and failed to finish schoolwork, chores, or duties in the workplace.
    Value Often has trouble organizing activities.
    Value Often avoids, dislikes, or doesn’t want to do things that take a lot of mental effort for a long period of time.
    Value Often loses things needed for tasks and activities.
    Value Is often easily distracted.
    Value Is often forgetful in daily activities.
  text Six (6) or more of the following symptoms of hyperactivity-impulsivity have persisted for at least six (6) months to a degree that is disruptive and inappropriate with the developmental level.
  text Hyperactivity:
  CheckboxSet
    Value Often fidgets with hands or feet or squirms in seat.
    Value Often gets up from seat when remaining in seat is expected.
    Value Often runs about or climbs when and where it is not appropriate.
    Value Often has trouble playing or enjoying leisure activities quietly.
    Value Is often “on the go” or acts as if “driven by a motor”.
    Value Often talks excessively.
  text Impulsivity:
  CheckboxSet
    Value Often blurts out answers before questions have been finished.
    Value Often has trouble waiting one’s turn.
    Value Often interrupts or intrudes on others.
  text Some symptoms that cause impairment were present before age 7. Some impairment from the symptoms is present in two or more settings.
  CheckboxSet
    Value There must be clear evidence of significant impairment in social, school, or work functioning.


subsection#Q16E(title="Autism Disorder")
  text Qualitative impairment in social interaction, as manifested by at least two of the following:
  CheckboxSet
    Value Marked impairment in the use of multiple nonverbal behaviors such as eye-to-eye gaze, facial expression, body postures, and gestures to regulate social interaction
    Value Failure to develop peer relationships appropriate to developmental level
    Value A lack of spontaneous seeking to share enjoyment, interests, or achievements with other people
    Value Lack of social or emotional reciprocity
  text Qualitative impairments in communication as manifested by at least one of the following:
  CheckboxSet
    Value Delay in, or total lack of, the development of spoken language (not accompanied by an attempt to compensate through alternative modes of communication such as gesture or mime)
    Value In individuals with adequate speech, marked impairment in the ability to initiate or sustain a conversation with others
    Value Stereotyped and repetitive use of language or idiosyncratic language
    Value Lack of varied, spontaneous make-believe play
    Value Lack of social imitative play appropriate to developmental level
  text Restricted repetitive and stereotyped patterns of behavior, interests, and activities, as manifested by at least one of the following:
  CheckboxSet
    Value Encompassing preoccupation with one or more stereotyped and restricted patterns of interest that is abnormal either in intensity or focus
    Value Apparently inflexible adherence to specific, nonfunctional routines or rituals
    Value Stereotyped and repetitive motor mannerisms (e.g., hand or finger flapping or twisting, or complex whole-body movements)
    Value Persistent preoccupation with parts of objects
  text Delays or abnormal functioning in at least one of the following areas, with onset prior to age 3 years: (1) social interaction, (2) language as used in social communication, or (3) symbolic or imaginative play.


subsection#Q16F(title="Bipolar Disorder")
  text HELLO WORLD!!!
  text Manic Episode:
  CheckboxSet
    Value A distinct period of abnormally and persistently elevated, expansive, or irritable mood, lasting at least 1 week.
  text During the period of mood disturbance, three or more of the following symptoms have persisted (four if the mood is only irritable) and have been present to a significant degree:
  CheckboxSet
    Value Decreased need for sleep
    Value More talkative that usual or pressure to keep talking
    Value Insomnia nearly every day
    Value Hypersomnia nearly every day
    Value Psychomotor agitation nearly every day.
    Value Psychomotor retardation nearly every day.
    Value Flight of ideas or subjective experience that thoughts are racing
    Value Distractibility
    Value Increase in goal-directed activity
    Value Excessive involvement in pleasurable activities that have a high potential for painful consequences.
    Value The mood disturbance is sufficiently severe to cause marked impairment in occupational functioning in usual social activities or relationships with others, or to necessitate hospitalization to prevent harm to self or others, or there are psychotic features.
  text The symptoms are not due to the direct physiological effects of a substance or a general medical condition.
  section_text
  text Hypomanic Episode:
  CheckboxSet
    Value A distinct period of persistently elevated, expansive, or irritable mood, lasting throughout at least 4 days, that is clearly different from the usual nondepressed mood.
  text During the period of mood disturbance, three (or more) of the following symptoms have persisted (four if the mood is only irritable) and have been present to a significant degree:
  CheckboxSet
    Value Inflated self-esteem or grandiosity.
    Value Decreased need for sleep
    Value More talkative than usual or pressure to keep talking.
    Value Flight of ideas or subjective experience that thoughts are racing. 
    Value Distractibility
    Value Increase in goal-directed activity
    Value Psychomotor agitation.
    Value Excessive involvement in pleasurable activities that have a high potential for painful consequences.
  text The episode is associated with an unequivocal change in functioning that is uncharacteristic of the person when not symptomatic.
  text The disturbance in mood and the change in functioning are observable by others.
  text The episode is not severe enough to cause marked impairment in social or occupational functioning, or to necessitate hospitalization, and there are no psychotic features.
  text The symptoms are not due to the direct physiological effects of a substance or a general medical condition.
  text Bipolar II Disorder
  text Presence of one or more Major Depressive Episode. (show major depressive episode criteria from above)
  text Presence of one or more Hypomanic Episode. (show hypomanic episode criteria from above)
  CheckboxSet
    Value There has never been a Manic Episode or Mixed Episode.
  text The mood symptoms are not better accounted for by Schizoaffective Disorder and are not superimposed on Schizophrenia, Schizophreniform Disorder, Delusional Disorder or Psychotic Disorder Not Otherwise Specified.
  CheckboxSet
    Value The symptoms cause clinically significant distress or impairment.
    Value Currently in a Hypomanic Episode
    Value Currently in a Major Depressive Episode
    Value Chronic
    Value With Catatonic features
    Value With Melancholic Features
    Value With Atypical Features
    Value With Postpartum Onset
    Value With Longitudinal Course Specifiers
    Value With Seasonal Pattern
    Value With Rapid Cycling


subsection#Q16G(title="Cognitive Impairment NOS")
  text Problems with:
  CheckboxSet
    Value Memory, attention, concentration, executive functions
    Value Judgment
    Value Social interaction
    Value Orientation
    Value Motor activity (with intact motor and sensory system)
    Value Visual spatial orientation
    Value Communication
    Value Consciousness
  text Severity:
  CheckboxSet
    Value Mild
    Value Moderate
    Value Moderately Severe
    Value Severe
  text Please write in symptoms:
  TextBox(name="Q16F")


subsection#Q16H(title="Depression")
  text Select 5 or more of the following symptoms (must select at least 1 of the first 2):
  CheckboxSet
    Value Depressed mood
    Value Diminished interest or pleasure in activities
    Value Significant weight loss
    Value Significant weight gain
    Value Decrease in appetite
    Value Increase in appetite
    Value Insomnia
    Value Hypersomnia
    Value Psychomotor agitation
    Value Psychomotor retardation
    Value Fatigue
    Value Feelings of worthlessness
    Value Inability to concentrate
    Value Suicidal ideation
    Value The symptoms are causing significant impairment to person’s functioning


subsection#Q16I(title="Dysthymic Disorder")
  CheckboxSet
    Value An overwhelming yet chronic state of depression, exhibited by a depressed mood for most of the days, for more days that not, for at least 2 years.
  text The person who suffers from this disorder must not have gone for more than 2 months without experiencing two or more of the following symptoms:
  CheckboxSet
    Value Poor appetite
    Value Overeating
    Value Insomnia
    Value Hypersomnia
    Value Low energy or fatigue
    Value Low self-esteem
    Value Poor concentration
    Value Difficulty making decisions
    Value Feelings of hopelessness
  text No Major Depressive Episode has been present during the first two years, and there has never been a Manic Episode, a Mixed Episode, or a Hypomanic Episode, and criteria have never been met for Cyclothymic Disorder.


subsection#Q16J(title="Learning Disorders:")
  text Reading Disorders:
  CheckboxSet
    Value Reading achievement is substantially below the expected level.
    Value This disturbance significantly interferes with academic achievement or reading centered activities.
    Value If a sensory deficit is present, the reading difficulties are in excess of those usually associated with it.
  text Signs of reading difficulty include problems with:
  CheckboxSet
    Value Letter and word recognition
    Value Understanding words and ideas
    Value Reading speed and fluency
    Value General vocabulary skills
    ValueOther Other:
  text Mathematic Disorder:
  CheckboxSet
    Value Mathematic ability is substantially below the expected level.
    Value This disturbance significantly interferes with academic achievement or math centered activities.
    Value If a sensory deficit is present, the mathematical difficulties are in excess of those usually associated with it.
  text Signs of mathematical difficulty include problems with:
  CheckboxSet
    Value Memorization and organization of numbers
    Value Memorization and organization of operation signs
    Value Memorization of number facts
    Value Trouble with counting
    Value Trouble telling time
    ValueOther Other:
  text Disorder of Written Expression:
  CheckboxSet
    Value Written expression is substantially below the expected level.
    Value This disturbance significantly interferes with academic achievement or activities that require writing skills.
    Value If a sensory deficit is present, the writing difficulties are in excess of those usually associated with it.
  text Signs of writing difficulty include problems with:
  CheckboxSet
    Value Neatness and consistency of writing
    Value Accurately copying letters and words
    Value Spelling Consistency
    Value Writing organization and coherence
    ValueOther Other:
  text Learning disabilities in motor skills:
  CheckboxSet
    Value Problems with movement
    Value Problems with coordination
    Value Problems with activities requiring hand-eye coordination
    ValueOther Other:
  text Learning disabilities in language:
  CheckboxSet
    Value Problems understanding spoken language
    Value Inability to produce spoken language
    Value Problems organizing thoughts in the brain
    Value Problems with calling upon the right words
    Value Problems with communication
    Value Problems with speech fluency
    Value Inability to understand the meaning of words
    Value Inability to understand parts of speech
    Value Inability to understand directions
    ValueOther Other:
  text Learning Disorder Symptoms by Grade Level (use with child template only)
  text Preschool signs and symptoms of learning disabilities
  CheckboxSet
    Value Problems pronouncing words
    Value Trouble finding the right word
    Value Difficulty rhyming
    Value Trouble learning the alphabet, numbers, colors, shapes, days of the week
    Value Difficulty following directions or learning routines
    Value Difficulty controlling crayons, pencils, and scissors or coloring within the lines
    Value Trouble with buttons, zippers, snaps, learning to tie shoes
  text Grades K-4 signs and symptoms of learning disabilities
  CheckboxSet
    Value Trouble learning the connection between letters and sounds
    Value Unable to blend sounds to make words
    Value Confuses basic words when reading
    Value Consistently misspells words and makes frequent reading errors
    Value Trouble learning basic math concepts
    Value Difficulty telling time and remembering sequences
    Value Slow to learn new skills
  text Grades 5-8 signs and symptoms of learning disabilities
  CheckboxSet
    Value Difficulty with reading comprehension or math skills
    Value Trouble with open-ended test questions and word problems
    Value Dislikes reading and writing
    Value Avoids reading aloud
    Value Spells the same word differently in a single document
    Value Poor organizational skills (bedroom, homework, desk is messy and disorganized)
    Value Trouble following classroom discussions
    Value Trouble expressing thoughts aloud
    Value Poor handwriting


subsection#Q16K(title="Mental Retardation")
  CheckboxSet
    Value Significant subaverage intellectual functioning
  text Concurrent deficits or impairments in present adaptive functioning in at least two of the following areas:
  CheckboxSet
    Value Communication
    Value Self-care
    Value Home living
    Value Social/interpersonal skills
    Value Use of community resources
    Value Self-direction
    Value Functional academic skills
    Value Work
    Value Leisure
    Value Health
    Value Safety


subsection#Q16L(title="Obsessive Compulsive Disorder")
  text Obsessions defined by all of the following:
  CheckboxSet
    Value Recurrent and persistent thoughts, impulses, or images that are experienced at some time during the disturbance, as intrusive and inappropriate and that cause marked anxiety or distress
    Value The thoughts, impulses, or images are not simply excessive worries about real-life problems
    Value The person attempts to ignore or suppress such thoughts, impulses, or images, or to neutralize them with some other thought or action
    Value The person recognizes that the obsessional thoughts, impulses, or images are a product of his or her own mind (not imposed from without as in thought insertion)
  text Compulsions defined by the following:
  CheckboxSet
    Value Repetitive behaviors (e.g., hand washing, ordering, checking) or mental acts (e.g., praying, counting, repeating words silently) that the person feels driven to perform in response to an obsession, or according to rules that must be applied rigidly
    Value The behaviors or mental acts are aimed at preventing or reducing distress or preventing some dreaded event or situation; however, these behaviors or mental acts either are not connected in a realistic way with what they are designed to neutralize or prevent or are clearly excessive
    Value If the person is an adult, the person has recognized that the obsessions or compulsions are excessive or unreasonable.
    Value The obsessions or compulsions caused marked distress, are time consuming, or significantly interfere with the person’s normal routine, occupational/academic functioning, or usual social activities or relationships.


subsection#Q16M(title="Panic Disorder")
  text Must select the following criteria:
  CheckboxSet
    Value Recurrent and unexpected panic attacks
  text Diagnostic Criteria for a PANIC ATTACK: Select 4 or more of the following symptoms that develop abruptly and peak within 10 minutes:
  CheckboxSet
    Value Accelerated heart rate
    Value Sweating
    Value Trembling
    Value Shortness of breath
    Value Feelings of choking
    Value Chest pain
    Value Nausea
    Value Feeling dizzy
    Value Derealization
    Value Fear of losing control
    Value Fear of dying
    Value Paresthesias
    Value Chills
  text Must select one of the following criteria:
  text At least one of the attacks is followed by:
  CheckboxSet
    Value Persistent concern about having additional attacks
    Value Worry about the implications or consequences of the attack
    Value Significant change in behavior related to the attacks
  text
  CheckboxSet
    Value Absence of Agoraphobia (with Agoraphobia)
    Value Presence of Agoraphobia (without Agoraphobia)


subsection#Q16N(title="Personality Disorders")
  text General symptoms:
  CheckboxSet
    Value Frequent mood swings
    Value Stormy relationships
    Value Social isolation
    Value Angry outbursts
    Value Suspicion and mistrust of others
    Value Difficulty making friends
    Value A need for instant gratification
    Value Poor impulse control
    Value Alcohol or substance abuse
  text Cluster A: These are personality disorders characterized by odd, eccentric thinking or behavior.
  CheckboxSet
    Value Paranoid personality disorder
    Value Distrust and suspicion of others
    Value Believing that others are trying to harm you
    Value Emotional detachment
    Value Hostility
    Value Schizoid personality disorder
    Value Lack of interest in social relationships
    Value Limited range of emotional expression
    Value Inability to pick up normal social cues
    Value Appearing dull or indifferent to others
    Value Schizotypal personality disorder
    Value Peculiar dress, thinking, beliefs or behavior
    Value Perceptual alterations, such as those affecting touch
    Value Discomfort in close relationships
    Value Flat emotions or inappropriate emotional responses
    Value Indifference to others
    Value "Magical thinking"
    Value Believing that messages are hidden for you in public speeches or displays
  text Cluster B: These are personality disorders characterized by dramatic, overly emotional thinking or behavior.
  CheckboxSet
    Value Antisocial personality disorder
    Value Disregard for others
    Value Persistent lying or stealing
    Value Recurring difficulties with the law
    Value Repeatedly violating the rights of others
    Value Aggressive, often violent behavior
    Value Disregard for the safety of self or others
    Value Borderline personality disorder
    Value Impulsive and risky behavior
    Value Volatile relationships
    Value Unstable mood
    Value Suicidal behavior
    Value Fear of being alone
    Value Histrionic personality disorder
    Value Constantly seeking attention
    Value Excessively emotional
    Value Extreme sensitivity to others' approval
    Value Unstable mood
    Value Excessive concern with physical appearance
    Value Narcissistic personality disorder 
    Value Believing that you're better than others
    Value Fantasizing about power, success and attractiveness
    Value Exaggerating your achievements or talents
    Value Expecting constant praise and admiration
    Value Failing to recognize other people's emotions and feelings
  text Cluster C: These are personality disorders characterized by anxious, fearful thinking or behavior.
  CheckboxSet
    Value Avoidant personality disorder
    Value Hypersensitivity to criticism or rejection
    Value Feeling inadequate
    Value Social isolation
    Value Extreme shyness in social situations
    Value Timidity
    Value Dependent personality disorder
    Value Excessive dependence on others
    Value Submissiveness toward others
    Value A desire to be taken care of
    Value Tolerance of poor or abusive treatment
    Value Urgent need to start a new relationship when one has ended
    Value Obsessive-compulsive personality disorder
    Value Preoccupation with orderliness and rules
    Value Extreme perfectionism
    Value Desire to be in control of situations
    Value Inability to discard broken or worthless objects
    Value Inflexibility


subsection#Q16O(title="Postconcussion Syndrome")
  text Subjective symptoms are:
  CheckboxSet
    Value Intermittent dizziness
    Value Headaches severe enough to require a period of rest during the day (often, seldom,)
    Value Tinnitus
    Value Frequent insomnia
    Value Hypersensitivity to light
    Value Hypersensitivity to sound
    Value Blurred vision
    Value Double vision
    Value Fatigability
  text Neurobehavioral effects are:
  CheckboxSet
    Value Irritability
    Value Impulsivity
    Value Unpredictability
    Value Lack of motivation
    Value Verbal aggression
    Value Physical aggression
    Value Belligerence
    Value Apathy
    Value Lack of empathy
    Value Moodiness
    Value Lack of cooperation
    Value Inflexibility
    Value Impaired awareness of disability
    Value One or more neurobehavioral effects that do not interfere with workplace interaction or social interaction.
    Value One or more neurobehavioral effects that occasionally interfere with workplace interaction, social interaction, or both but do not preclude them.
    Value One or more neurobehavioral effects that frequently interfere with workplace interaction, social interaction, or both but do not preclude them.
    Value One or more neurobehavioral effects that interfere with or preclude workplace interaction, social interaction, or both on most days or that occasionally require supervision for safety of self or others.

subsection#Q16P(title="Post-traumatic Stress Disorder")
  text Note to evaluator: Be cautious when discussion traumatic events with the claimant. Make sure the claimant does not relive the trauma as a result of the questioning.
  text The following 2 criteria must be present:
  CheckboxSet
    Value Experience or witness a life-threatening uncontrollable event
    Value Feelings of intense fear, helplessness, or horror
  text The trauma is persistently re-experienced in 1 or more of the following ways:
  CheckboxSet
    Value Recurrent, intrusive, distressing recollections of the event
    Value Recurrent, distressing dreams of the event
    Value Reliving the experience
    Value Intense psychological distress when exposed to internal or external cues
  text Persistent avoidance stimuli associated with the trauma indicate by 3 or more of the following:
  CheckboxSet
    Value Efforts to avoid thoughts, feelings, or conversations associated with the trauma
    Value Efforts to avoid activities, places, or people that arouse recollections of the trauma
    Value Inability to recall an important aspect of the trauma
    Value Markedly diminished interest or participation in significant activities
    Value Feelings of detachment or estrangement from others
    Value Restricted range of affect
    Value Sense of a foreshortened future
  text Persistent symptoms of increased arousal as indicated by 2 or more of the following:
  CheckboxSet
    Value Difficulty with sleep
    Value Irritability
    Value Difficulty concentrating
    Value Hypervigilance
    Value Exaggerated startle response
    Value The symptoms are causing significant impairment to person’s functioning
  text Regarding the traumatic event:
  question(name="Q16B" text="Did the traumatic event happen to the claimant?")
    RadioSet
      Value(value="has") Yes
      Value(value="has not") No
  question(name="Q16C" text="When did the trauma occur? (Month Year)")
    TextBox
  question(name="Q16D" text="Where did the trauma occur?")
    TextBox
  question(name="Q16E" text="Does the trauma currently impact the claimant’s functioning particularly in work and relationship?")
    RadioSet
      Value(enables-selector=".a16e_yes" value="are") Yes
      Value(value="are no") No
  question.a16e_yes(name="QA16E" text="Please describe:")
    TextBox
  question(name="Q16G" text="How long in the past did the trauma hamper the claimant’s functioning? (Month Year)")
    TextBox

subsection#Q16Q(title="Schizoaffective Disorder")
  text An uninterrupted period of illness during which, at some time, there is either:
  CheckboxSet
    Value a Major Depressive Episode:
  text Five (or more) of the following symptoms have been present during the same 2-week period and represent a change from previous functioning; at least one of the symptoms is either (1) depressed mood or (2) loss of interest or pleasure.
  CheckboxSet
    Value Depressed mood most of the day, nearly every day, as indicated by either subjective report or observation made by others.
    Value Markedly diminished interest or pleasure in all, or almost all, activities most of the day, nearly every day.
    Value Significant weight loss when not dieting or weight gain (e.g., a change of more than 5% of body weight in a month), a decrease or increase in appetite nearly every day. Note: In children, consider failure to make weight gains.
    Value Insomnia or hypersomnia nearly every day
    Value Psychomotor agitation or retardation nearly every day (observable by others, not merely subjective feeling of restlessness or being slowed down)
    Value Fatigue or loss of energy nearly every day
    Value Feelings of worthlessness or inappropriate guilt (which may be delusional) nearly every day (not merely self-reproach or guilt about being sick)
    Value Diminished ability to think or concentrate, or indecisiveness, nearly every day (either by subjective account or as observed by others) recurrent thoughts of death (not just fear of dying), recurrent suicidal ideation without a specific plan, or a suicide attempt or a specific plan for committing suicide
    Value A Manic Episode:
    Value A distinct period of abnormally and persistently elevated, expansive, or irritable mood, lasting at least 1 week.
  text During the period of mood disturbance, three (or more) of the following symptoms have persisted (four if the mood is only irritable) and have been present to a significant degree:
  CheckboxSet
    Value Inflated self-esteem or grandiosity
    Value Decreased need for sleep
    Value More talkative than usual or pressure to keep talking
    Value Flight of ideas, or subjective experience that thoughts are racing
    Value Distractibility
    Value Increase in goal-directed activity
    Value Psychomotor agitation
    Value Excessive involvement in pleasurable activities that have a high potential for painful consequences
    Value A Mixed Episode:
  text The criteria are met both for a Manic Episode and for a Major Depressive Episode (except for duration) nearly every day during at least a 1-week period. 
  text Major Depressive Episode Criteria
  text Five (or more) of the following symptoms have been present during the same 2-week period and represent a change from previous functioning; at least one of the symptoms is either (1) depressed mood or (2) loss of interest or pleasure.
  CheckboxSet
    Value Depressed mood most of the day, nearly every day, as indicated by either subjective report or observation made by others.
    Value Markedly diminished interest or pleasure in all, or almost all, activities most of the day, nearly every day.
    Value Significant weight loss when not dieting or weight gain (e.g., a change of more than 5% of body weight in a month), a decrease or increase in appetite nearly every day. Note: In children, consider failure to make weight gains.
    Value Insomnia or hypersomnia nearly every day
    Value Psychomotor agitation or retardation nearly every day (observable by others, not merely subjective feeling of restlessness or being slowed down)
    Value Fatigue or loss of energy nearly every day
    Value Feelings of worthlessness or inappropriate guilt (which may be delusional) nearly every day (not merely self-reproach or guilt about being sick)
    Value Diminished ability to think or concentrate, or indecisiveness, nearly every day (either by subjective account or as observed by others) recurrent thoughts of death (not just fear of dying), recurrent suicidal ideation without a specific plan, or a suicide attempt or a specific plan for committing suicide
  text Manic Episode Criteria
  CheckboxSet
    Value A distinct period of abnormally and persistently elevated, expansive, or irritable mood, lasting at least 1 week.
  text During the period of mood disturbance, three (or more) of the following symptoms have persisted (four if the mood is only irritable) and have been present to a significant degree:
  CheckboxSet
    Value Inflated self-esteem or grandiosity
    Value Decreased need for sleep
    Value More talkative than usual or pressure to keep talking
    Value Flight of ideas, or subjective experience that thoughts are racing
    Value Distractibility
    Value Increase in goal-directed activity
    Value Psychomotor agitation
    Value Excessive involvement in pleasurable activities that have a high potential for painful consequences
    Value During the same period of illness, there have been delusions or hallucinations for at least 2 weeks in the absence of prominent mood symptoms.
  text Symptoms that meet criteria for a mood episode are present for a substantial portion of the total duration of the active and residual periods of the illness. 
  text Schizophrenia
  text Characteristic symptoms: Two (or more) for the following, each present for a significant portion of time during a 1-month period (or less if successfully treated):
  CheckboxSet
    Value Delusions
    Value Hallucinations
    Value Disorganized speech
    Value Grossly disorganized or catatonic behavior
    Value Negative symptoms (i.e. affective flattening, alogia, or avolition)
    Value Social/occupational dysfunction: For a significant portion of the time since the onset of the disturbance, one or more major areas of functioning such as work, interpersonal relations, or self-care are markedly below the level achieved prior to the onset (or when the onset is in childhood or adolescence, failure to achieve expected level of interpersonal, academic, or occupational achievement).
    Value Continuous signs of the disturbance persist for at least 6 months.
  text Schizoaffective Disorder and Mood Disorder With Psychotic Features have been ruled out. The disturbance is not due to the direct physiological effects of a substance (e.g., a drug of abuse, a medication) or a general medical condition. If there is a history of Autistic Disorder or another Pervasive Developmental Disorder, the additional diagnosis of Schizophrenia is made only if prominent delusions or hallucinations are also present for at least a month (or less if successfully treated).
  text SUBTYPES (Schizophrenia)
  CheckboxSet
    Value Paranoid Type
  text A type of Schizophrenia in which the following criteria are met:
  CheckboxSet
    Value Preoccupation with one or more delusions or frequent auditory hallucinations.
    Value None of the following is prominent: disorganized speech, disorganized or catatonic behavior, or flat or inappropriate affect.
    Value Catatonic Type
  text A type of Schizophrenia in which the clinical picture is dominated by at least two of the following:
  CheckboxSet
    Value Motoric immobility as evidenced by catalepsy (including waxy flexibility) or stupor
    Value Excessive motor activity (that is apparently purposeless and not influenced by external stimuli)
    Value Extreme negativism (an apparently motiveless resistance to all instructions or maintenance of a rigid posture against attempts to be moved) or mutism
    Value Peculiarities of voluntary movement as evidenced by posturing (voluntary assumption of inappropriate or bizarre postures),
    Value Stereotyped movements, prominent mannerisms, or prominent grimacing
    Value Echolalia or echopraxia
    Value Disorganized Type
  text A type of Schizophrenia in which the following criteria are met:
  text All of the following are prominent, and the criteria are not met for Catatonic Type:
  CheckboxSet
    Value Disorganized speech
    Value Disorganized behavior
    Value Flat or inappropriate affect
    Value Undifferentiated Type
  text A type of Schizophrenia in which symptoms that meet Criterion A are present, but the criteria are not met for the Paranoid, Disorganized, or Catatonic Type.
  CheckboxSet
    Value Residual Type
  text A type of Schizophrenia in which the following criteria are met:
  CheckboxSet
    Value Absence of prominent delusions, hallucinations, disorganized speech, and grossly disorganized or catatonic behavior.
    Value There is continuing evidence of the disturbance, as indicated by the presence of negative symptoms or two or more symptoms listed in Criterion A for Schizophrenia, present in an attenuated form (e.g., odd beliefs, unusual perceptual experiences).