<?xml version="1.0"?>
<EEConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Recent>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Bellevue\Bellevue 20120421\20120421 Nielsen, N (Template).eet</string>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Federal Way\Federal Way 20120428\20120428 Dugent Brunson, P (Template).eet</string>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Bellevue\Bellevue 20120421\20120421 Carlson, D (Template).eet</string>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Bellevue\Bellevue 20120421\20120421 Nettles, Q (Template).eet</string>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Mount Vernon\Mount Vernon 20120422\20120422 McInchak, K (Template).eet</string>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Mount Vernon\Mount Vernon 20120422\20120422 Finn, T (Template).eet</string>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Mount Vernon\Mount Vernon 20120422\20120422 Chambers, C (Template).eet</string>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Federal Way\Federal Way 20120420\20120420Reed,K (Template).eet</string>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Federal Way\Federal Way 20120420\20120420Jones,B (Template).eet</string>
    <string>C:\Users\Coder\Documents\Client cases\DDS\Federal Way\Federal Way 20120420\20120420Grant,L (Template).eet</string>
  </Recent>
  <SecurityHash>J0K5OKRIEUTO098TP138NOKJFOH13A6J9857995665430603508VYIK21EMX43LKA9858209791369481668QYYI3CLATGIKDKCDUJU</SecurityHash>
</EEConfig>